<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="on.standard.system.user">

    <sql id="pageHeader">
		  <![CDATA[
        SELECT (${rn_top} / (${rn_top} - ${rn_bottom})) AS pageNo
             , (${rn_top} - ${rn_bottom})               AS pageSize
             , totalCount - (rowindx - 1)               AS rrowindx
             , ROW_.*
        FROM (
        ]]>
	</sql>

    <sql id="pageFooter">
		  <![CDATA[
        ) AS ROW_
			    ORDER BY ROW_.rowindx  DESC
			   LIMIT ${rn_limit} OFFSET ${rn_bottom}
        ]]>
	</sql>

    <select id="inqUserInfo" parameterType="CommonMap" resultType="CommonMap">
        /*  on.standard.system.user.inqUserInfo */
        <include refid="sqlUserInfo"/>
    </select>

    <select id="inqUserInfoVO" parameterType="CommonMap" resultType="userVO">
        /*  on.standard.system.user.inqUserInfoVO */
        <include refid="sqlUserInfo"/>
    </select>

    <sql id="sqlUserInfo">
        SELECT USER_ID             userId
             , USER_PSWD           userPswd
             , USER_KOR_NM         userKorNm
             , USER_ENG_NM         userEngNm
             , MOBILE_NO           mobileNo
             , EMAIL_ADDR          emailAddr
             , LST_LOGIN_DT        lstLoginDt
             , LST_PSWD_CHG_DT     lstPswdChgDt
             , AUTH_AREA_CD        authAreaCd
             , SNS_SE_CD           snsSeCd
             , SNS_ACCOUNT         snsAccount
             , INTG_YN             intgYn
             , ZIP_NO              zipNo
             , HOME_ADDR           homeAddr
             , HOME_ADDR_DTLS      homeAddrDtls
             , BLON_NM             blonNm
             , FAX_NO              faxNo
             , INLN_NO             inlnNo
             , JGRP_CD             jgrpCd
             , JRNK_CD             jrnkCd
             , REG_DIV_CD          regDivCd
             , USE_YN              useYn
             , PSWD_FAIL_CNT       pswdFailCnt
             , IS_DEL_ABLE         isDelAble
             , BRK_YN              brkYn
             , BRK_COMMENT         brkComment
        FROM STB_B_USER_MNG
        WHERE USER_ID =  #{userId}
    </sql>



     <select id="selectUserRoleList" parameterType="userVO" resultType="userVO">
          /*  on.standard.system.user.selectUserRoleList */
          SELECT AUTH_ID authId
            FROM STB_M_AUTH_USER_MNG
           WHERE USER_ID = #{userId}
     </select>

     <update id="updateUserPswdFailCount" parameterType="CommonMap">
          /*  on.standard.system.user.updateUserPswdFailCount */
          UPDATE STB_B_USER_MNG
             SET PSWD_FAIL_CNT = PSWD_FAIL_CNT + 1
               , BRK_YN = CASE WHEN (SELECT LGIN_FAIL_LMT_CNT from STB_B_SYSTEM_POLICY_MNG) = PSWD_FAIL_CNT + 1 THEN 'Y'
                               ELSE BRK_YN
                          END
               , BRK_COMMENT = CASE WHEN (SELECT LGIN_FAIL_LMT_CNT from STB_B_SYSTEM_POLICY_MNG) = PSWD_FAIL_CNT + 1 THEN CONCAT(BRK_COMMENT , ', 비밀번호 실패건수 초과로 인한 계정잠김 ')
                                    ELSE BRK_COMMENT
                         END
           WHERE USER_ID =  #{userId}
     </update>


     <update id="updUserFinalLogin" parameterType="CommonMap">
          /*  on.standard.system.user.updUserFinalLogin */
          UPDATE STB_B_USER_MNG
             SET LST_LOGIN_DT = CURTIME()
               , PSWD_FAIL_CNT = 0
           WHERE USER_ID =  #{userId}
     </update>

     <insert id="insUserLoginHist" parameterType="CommonMap" >
          /*  on.standard.system.user.insUserLoginHist */
          INSERT INTO STB_H_USER_LOGIN_LOG
                      (USER_ID  , AUTH_AREA_CD , USER_AUTH_CD ,REMOTE_ADDR , LOGIN_DIV_CD , LOGIN_COMMENT   )
               VALUES (#{userId}, #{authAreaCd}, #{authIdList},#{remoteAddr}, #{loginDivCd}, #{loginCommnet} )
    </insert>





    <select id="selUserList" parameterType="CommonMap" resultType="CommonMap">
        <choose>
            <when test="cmd == 'selectPage'">
                /*  on.standard.system.user.selUserList selectPage */
                <include refid="pageHeader"/>
                <include refid="userListSql"/>
                <include refid="pageFooter"/>
            </when>
            <otherwise>
                /*  on.standard.system.user.selUserList  selectList */
                <include refid="userListSql"/>
            </otherwise>
        </choose>
    </select>


    <sql id="userListSql">
        SELECT A.rownum_        rowindx
             , B.TOTAL_COUNT    totalCount
             , A.USER_ID        userId
             , A.USER_KOR_NM    userKorNm
             , A.USER_ENG_NM    userEngNm
             , A.BLON_NM        blonNm
             , A.LST_LOGIN_DT   lstLoginDt
             , A.MOBILE_NO      mobileNo
             , A.EMAIL_ADDR     emailAddr
             , A.AUTH_ID        authId
             , A.AUTH_NM        authNm
             , A.REG_DATE       regDate
          FROM (   SELECT ROW_NUMBER() OVER (ORDER BY SBUM.REG_DATE ASC) AS rownum_
                        , SBUM.USER_ID
                        , SBUM.USER_KOR_NM
                        , SBUM.USER_ENG_NM
                        , SBUM.BLON_NM
                        , DATE_FORMAT(SBUM.LST_LOGIN_DT, '%Y.%m.%d %H:%i') LST_LOGIN_DT
                        , SBUM.MOBILE_NO
                        , SBUM.EMAIL_ADDR
                        , SAUM.AUTH_ID
                        , (SELECT AUTH_KOR_NAME FROM STB_B_AUTH_MNG WHERE AUTH_ID = SAUM.AUTH_ID) AUTH_NM
                        , DATE_FORMAT(SBUM.REG_DATE, '%Y.%m.%d %H:%i') REG_DATE
                     FROM STB_B_USER_MNG SBUM
                     LEFT JOIN STB_M_AUTH_USER_MNG SAUM ON SBUM.USER_ID = SAUM.USER_ID
                    WHERE 1 = 1
                    <if test="searchKeyWord != null and searchKeyWord != ''">
                        <choose>
                            <when test="searchKeyCd == 'userId'">
                                AND SBUM.USER_ID LIKE CONCAT('%',#{searchKeyWord},'%')
                            </when>
                            <when test="searchKeyCd == 'userNm'">
                                AND (   SBUM.USER_KOR_NM LIKE CONCAT('%',#{searchKeyWord},'%')
                                    OR  SBUM.USER_ENG_NM LIKE CONCAT('%',#{searchKeyWord},'%')
                                )
                            </when>
                            <when test="searchKeyCd == 'mobileNo'">
                                AND SBUM.MOBILE_NO LIKE CONCAT('%',#{searchKeyWord},'%')
                            </when>
                            <otherwise>
                                AND (     SBUM.USER_ID LIKE CONCAT('%',#{searchKeyWord},'%')
                                     OR (   SBUM.USER_KOR_NM LIKE CONCAT('%',#{searchKeyWord},'%')
                                         OR SBUM.USER_ENG_NM LIKE CONCAT('%',#{searchKeyWord},'%')
                                     )
                                     OR MOBILE_NO LIKE CONCAT('%',#{searchKeyWord},'%')
                                )
                            </otherwise>
                        </choose>
                    </if>
                  ORDER BY SBUM.REG_DATE ASC
             ) A
             JOIN ( SELECT COUNT(*) TOTAL_COUNT
                      FROM STB_B_USER_MNG
                     WHERE 1 = 1
                    <if test="searchKeyWord != null and searchKeyWord != ''">
                        <choose>
                            <when test="searchKeyCd == 'userId'">
                                AND USER_ID LIKE CONCAT('%',#{searchKeyWord},'%')
                            </when>
                            <when test="searchKeyCd == 'userNm'">
                                AND (   USER_KOR_NM LIKE CONCAT('%',#{searchKeyWord},'%')
                                OR  USER_ENG_NM LIKE CONCAT('%',#{searchKeyWord},'%')
                                )
                            </when>
                            <when test="searchKeyCd == 'mobileNo'">
                                AND MOBILE_NO LIKE CONCAT('%',#{searchKeyWord},'%')
                            </when>
                            <otherwise>
                                AND (    USER_ID LIKE CONCAT('%',#{searchKeyWord},'%')
                                     OR (    USER_KOR_NM LIKE CONCAT('%',#{searchKeyWord},'%')
                                          OR USER_ENG_NM LIKE CONCAT('%',#{searchKeyWord},'%')
                                     )
                                     OR MOBILE_NO LIKE CONCAT('%',#{searchKeyWord},'%')
                                )
                            </otherwise>
                        </choose>
                    </if>
           ) B
           ON 1 = 1
    </sql>


    <select id="selectUserIdDuplChk" parameterType="CommonMap" resultType="CommonMap">
        /*  on.standard.system.user.selectUserIdDuplChk */
        SELECT CASE WHEN COUNT(*)  = 0 THEN 'ABLE' ELSE 'NOT_ABLE' END isAble
        FROM STB_B_USER_MNG
        WHERE USER_ID = #{userId}
    </select>

    <insert id="insertUserInfo" parameterType="CommonMap">
        /*  on.standard.system.user.insertUserInfo */
         INSERT INTO STB_B_USER_MNG
                    ( USER_ID, USER_PSWD, USER_KOR_NM, USER_ENG_NM, MOBILE_NO, EMAIL_ADDR, LST_LOGIN_DT, LST_PSWD_CHG_DT
                    , ZIP_NO, HOME_ADDR, HOME_ADDR_DTLS, BLON_NM , FAX_NO , JGRP_CD, JRNK_CD, REG_DIV_CD
                    )
              VALUES(#{userId}, #{userPswd}, #{userKorNm}, #{userEngNm}, #{mobileNo}, #{emailAddr} , NOW() , NOW()
                    ,#{zipNo} ,   #{homeAddr}, #{homeAddrDtls} , #{blonNm}, #{faxNo} , #{jgrpCd}, #{jrnkCd} , #{regDivCd} )
    </insert>
    <update id="updateUserInfo" parameterType="CommonMap">
         UPDATE STB_B_USER_MNG
            SET USER_ID = #{userId}
           <if test="userPswd != null and userPswd != ''">
             , USER_PSWD = #{userPswd}
           </if>
           <if test="userKorNm != null and userKorNm != ''">
            , USER_KOR_NM = #{userKorNm}
           </if>
           <if test="userEngNm != null and userEngNm != ''">
            , USER_ENG_NM = #{userEngNm}
           </if>
           <if test="mobileNo != null and mobileNo != ''">
            , MOBILE_NO = #{mobileNo}
           </if>
           <if test="emailAddr != null and emailAddr != ''">
            , EMAIL_ADDR = #{emailAddr}
           </if>
        <if test="zipNo != null and zipNo != ''">
            , ZIP_NO = #{zipNo}
        </if>
        <if test="homeAddr != null and homeAddr != ''">
            , HOME_ADDR = #{homeAddr}
        </if>
        <if test="homeAddrDtls != null and homeAddrDtls != ''">
            , HOME_ADDR_DTLS = #{homeAddrDtls}
        </if>
        <if test="blonNm != null and blonNm != ''">
            , BLON_NM = #{blonNm}
        </if>
        <if test="faxNo != null and faxNo != ''">
            , FAX_NO = #{faxNo}
        </if>
        <if test="jgrpCd != null and jgrpCd != ''">
            , JGRP_CD = #{jgrpCd}
        </if>
        <if test="jrnkCd != null and jrnkCd != ''">
            , JRNK_CD = #{jrnkCd}
        </if>
       WHERE USER_ID = #{userId}
    </update>
    <insert id="insertAuthUserMng" parameterType="CommonMap">
        /*  on.standard.system.user.insertAuthUserMng */
        INSERT INTO STB_M_AUTH_USER_MNG
               (AUTH_ID     , USER_ID , USE_YN)
        VALUES ( #{userAuth}, #{userId}, 'Y' )
    </insert>

    <update id="updateAuthUserMng" parameterType="CommonMap">
        /*  on.standard.system.user.updateAuthUserMng */
        UPDATE STB_M_AUTH_USER_MNG
           SET USE_YN = 'Y'
            , AUTH_ID = #{userAuth}
        WHERE AUTH_ID = #{preUserAuth}
          AND USER_ID = #{userId}
    </update>


</mapper>