<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.standard.mapper.usersupport.CprgtMngMapper">

	<!-- 저작권 건수 조회 -->
	<select id="selectCount" resultType="cprgtVO">
		/* com.standard.mapper.usersupport.CprgtMngMapper.selectCount */
		SELECT COUNT(1)	cprgtCount		 		 	
		  FROM T_CPRGT_MNG
		 WHERE USE_YN = 'Y'
	</select>

	<!-- 저작권 단건 조회 -->
	<select id="selectOne" resultType="cprgtVO">
		/* com.standard.mapper.usersupport.CprgtMngMapper.selectOne */
		SELECT CPRGT_SERNO						cprgtSerno
			 , CPRGT_CTT						cprgtCtt
			 , CO_ADDR							coAddr
			 , CO_DTLS_ADDR						coDtlsAddr
			 , CO_LTNO_ADDR						coLtnoAddr
			 , CO_POST_NO						coPostNo
			 , CO_ENG_ADDR						coEngAddr
			 , CO_FAX_NO						coFaxNo
			 , CO_TEL_NO						coTelNo
			 , REGR_SERNO						regrSerno
			 , DATE_FORMAT(REG_DT, '%Y.%m.%d')	regDt
		  FROM T_CPRGT_MNG
		 WHERE USE_YN = 'Y'
		 LIMIT 1
	</select>

	<!-- 저작권 등록 -->
	<insert id="insertContents" parameterType="cprgtVO">
		/* com.standard.mapper.usersupport.CprgtMngMapper.insertContents */
		INSERT INTO T_CPRGT_MNG 
			 ( CPRGT_CTT
			 , CO_ADDR							
			 , CO_DTLS_ADDR						
			 , CO_LTNO_ADDR						
			 , CO_POST_NO						
			 , CO_ENG_ADDR							
			 , CO_FAX_NO						
			 , CO_TEL_NO						
			 , REGR_SERNO						
			 , REG_DT
	   		 )
	    VALUES 
	    	 ( #{cprgtCtt}
			 , #{coAddr}
			 , #{coDtlsAddr}
			 , #{coLtnoAddr}
			 , #{coPostNo}
			 , #{coEngAddr}
			 , #{coFaxNo}
			 , #{coTelNo}
			 , #{loginSerno}
			 , NOW()
			 )
	</insert>

	<!-- 저작권 수정 -->
	<update id="updateContents" parameterType="cprgtVO">
		/* com.standard.mapper.usersupport.CprgtMngMapper.updateContents */
		UPDATE T_CPRGT_MNG
		   SET CPRGT_CTT	= #{cprgtCtt}
			 , CO_ADDR		= #{coAddr}
			 , CO_DTLS_ADDR	= #{coDtlsAddr}
			 , CO_LTNO_ADDR	= #{coLtnoAddr}
			 , CO_POST_NO	= #{coPostNo}
			 , CO_ENG_ADDR	= #{coEngAddr}
			 , CO_FAX_NO	= #{coFaxNo}
			 , CO_TEL_NO	= #{coTelNo}
			 , UPDR_SERNO	= #{loginSerno}
			 , UPD_DT		= NOW()	
		 WHERE CPRGT_SERNO 	= #{cprgtSerno}
	</update>

</mapper>