<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opennote.standard.mapper.usersupport.TermsMngMapper">

	<!-- 약관 건수 조회 -->
	<select id="selectCount" parameterType="termsVO" resultType="termsVO">
		/* com.opennote.standard.mapper.usersupport.TermsMngMapper.selectCount */
		SELECT COUNT(1) termCount
		  FROM T_TERMS_MNG
		 WHERE TERMS_CL_CD 	= #{termsClCd}
		 <if test="menuClCd != null and menuClCd != ''">
		   AND DATE_FORMAT(NOW(), '%Y.%m.%d') BETWEEN DATE_FORMAT(OTPT_STRT_DT, '%Y.%m.%d') AND DATE_FORMAT(OTPT_END_DT, '%Y.%m.%d')
		 </if>
		   AND USE_YN 		= 'Y'
	</select>
	
	<!-- 약관 목록 조회 -->
	<select id="selectList" parameterType="termsVO" resultType="kr.or.standard.basic.usersupport.terms.vo.TermsVO$Terms">
		/* com.opennote.standard.mapper.usersupport.TermsMngMapper.selectList */
		SELECT TERMS_SERNO         						termsSerno
			 , TERMS_CL_CD         						termsClCd
			 , SEQO                						seqo
			 , TITL_NM             						titlNm
			 , TERMS_CTT           						termsCtt
			 , SEL_TP_CD           						selTpCd
			 , FNC_CODE_NM(SEL_TP_CD)					selTpNm
			 , PRD_UNIT_CD         						prdUnitCd
			 , FNC_CODE_NM(PRD_UNIT_CD)					prdUnitNm
			 , DATE_FORMAT(OTPT_STRT_DT, '%Y.%m.%d')    otptStrtDt
			 , DATE_FORMAT(OTPT_END_DT, '%Y.%m.%d')     otptEndDt
			 , EXPSR_YN			   						expsrYn	 	
		  FROM T_TERMS_MNG A
		 WHERE TERMS_CL_CD 	= #{schEtc00}
		 <if test="menuClCd != null and menuClCd != ''">
		   AND DATE_FORMAT(NOW(), '%Y.%m.%d') BETWEEN DATE_FORMAT(OTPT_STRT_DT, '%Y.%m.%d') AND DATE_FORMAT(OTPT_END_DT, '%Y.%m.%d')
		 </if>
		   AND USE_YN 		= 'Y'
	  ORDER BY SEQO
	</select>

	<!-- 약관 등록 -->
	<insert id="insertContents" parameterType="kr.or.standard.basic.usersupport.terms.vo.TermsVO$Terms">
		/* com.opennote.standard.mapper.usersupport.TermsMngMapper.insertContents */
		INSERT INTO T_TERMS_MNG
			 ( TERMS_CL_CD
			 , SEQO
			 , TITL_NM
			 , TERMS_CTT
			 , SEL_TP_CD
			 , PRD_UNIT_CD
			 , OTPT_STRT_DT
			 , OTPT_END_DT
			 , EXPSR_YN
			 , REGR_SERNO
			 , REG_DT
	    	 )
	    VALUES 
	    	 ( #{termsClCd}
			 , #{seqo}
			 , #{titlNm}
			 , #{termsCtt}
			 , #{selTpCd}
			 , #{prdUnitCd}
			 , #{otptStrtDt}
			 , #{otptEndDt}
			 , #{expsrYn}
			 , #{loginSerno}
			 , NOW()
			 )
	</insert>

	<!-- 약관 수정 -->
	<update id="updateContents" parameterType="kr.or.standard.basic.usersupport.terms.vo.TermsVO$Terms">
		/* com.opennote.standard.mapper.usersupport.TermsMngMapper.updateContents */
		UPDATE T_TERMS_MNG
		   SET TERMS_CL_CD              = #{termsClCd}
			 , SEQO                     = #{seqo}
			 , TITL_NM                  = #{titlNm}
			 , TERMS_CTT                = #{termsCtt}
			 , SEL_TP_CD                = #{selTpCd}
			 , PRD_UNIT_CD              = #{prdUnitCd}
			 , OTPT_STRT_DT             = #{otptStrtDt}
			 , OTPT_END_DT              = #{otptEndDt}
			 , EXPSR_YN                 = #{expsrYn}
			 , UPDR_SERNO				= #{loginSerno}
			 , UPD_DT					= NOW()	
			 , USE_YN					= 'Y'
		 WHERE TERMS_SERNO 				= #{termsSerno}
	</update>
	
	<!-- 탈퇴약관 정보보유기간 코드 수정 -->
	<update id="updateScssContents" parameterType="termsVO">
		/* com.opennote.standard.mapper.usersupport.TermsMngMapper.updateScssContents */
		UPDATE T_TERMS_MNG
		   SET PRD_UNIT_CD              = #{schEtc01}
		 WHERE TERMS_CL_CD              = 'termsScss'
	</update>
	
	<update id="deleteContents" parameterType="termsVO">
		/* com.opennote.standard.mapper.usersupport.TermsMngMapper.deleteContents */
		UPDATE T_TERMS_MNG
		   SET USE_YN   	= 'N'
		   	 , UPDR_SERNO	= #{loginSerno}
		   	 , UPD_DT		= NOW()	
		 WHERE TERMS_CL_CD  = #{schEtc00}
	</update>
	 

</mapper>