<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opennote.standard.component.itsm.operm.code.mapper.ItsmCodeMapperTemp">
	
	<insert id="insertContents" parameterType="itsmCodeVO">
		<![CDATA[
		/*MaCodeMapper.insertContents  */
		INSERT INTO itsm_code_mng (
			  CD_SN
			, UP_CD_VAL
			, CD_VAL
			, CD_NM
			, CD_LVL_VAL
			, RGTR_SN
			, CD_SORT_SEQO
			, CD_DTL_EXPL
		) VALUES (
			  (SELECT NVL(MAX(A.CD_SN)+1,1) FROM itsm_code_mng A)
			, CASE WHEN TRIM(#{uppoCdVal}) = '' THEN '0' ELSE #{uppoCdVal} END
			, #{cdVal}
			, #{cdValNm}
			, #{cdLvlVal}
			, #{loginSerno, jdbcType=VARCHAR}
			, (SELECT NVL(MAX(B.CD_SORT_SEQO)+1,1) FROM itsm_code_mng B WHERE B.UP_CD_VAL = #{uppoCdVal})
			, #{cdDtlsExpl}
		)
		]]>
	</insert>
	

	<update id="updateContents" parameterType="itsmCodeVO">
		/* MaCodeMapper.updateContents */
		<![CDATA[
			UPDATE itsm_code_mng
			  SET CD_NM = #{cdValNm}  
				, CD_DTL_EXPL = #{cdDtlsExpl}
			 WHERE CD_VAL = #{cdVal}
			   AND UP_CD_VAL = #{uppoCdVal}
		]]>
	</update>


	<delete id="deleteContents" parameterType="itsmCodeVO">
		/* MaCodeMapper.deleteContents */
		<![CDATA[
		UPDATE itsm_code_mng
		  SET USE_YN = 'N'
	 	 WHERE 1=1
		   AND CD_VAL = #{cdVal}
		   AND UP_CD_VAL = #{uppoCdVal}
			OR UP_CD_VAL = #{cdVal}
		]]>
	</delete>

	<select id="selectList" parameterType="itsmCodeVO" resultType="itsmCodeVO">
	/* MaCodeMapper.selectList */
		SELECT CD_SN serno
			 , UP_CD_VAL uppoCdVal
			 , (SELECT count(1) FROM itsm_code_mng WHERE UP_CD_VAL = A.CD_VAL AND USE_YN = 'Y') AS chldCnt
			 , CD_VAL cdVal
			 , CD_NM cdValNm
			 , CD_LVL_VAL cdLvlVal
			 , CD_SORT_SEQO cdSortSeqo
			 , CD_DTL_EXPL cdDtlsExpl
		  FROM itsm_code_mng A
		 WHERE USE_YN='Y'
		   AND UP_CD_VAL = #{uppoCdVal}
		 ORDER BY CD_SORT_SEQO 
		 <if test="sort == 'ASC'">
		 	ASC
		 </if>
		 <if test="sort == 'DESC'">
		 	DESC
		 </if>
	</select>	
	
	<select id="selectCdContent" parameterType="itsmCodeVO" resultType="itsmCodeVO">
	/* MaCodeMapper.selectCdContent */
		SELECT CD_SN serno
			 , UP_CD_VAL uppoCdVal
			 , CD_VAL cdVal
			 , CD_NM cdValNm
			 , CD_LVL_VAL cdLvlVal
			 , CD_SORT_SEQO cdSortSeqo
			 , CD_DTL_EXPL cdDtlsExpl
		  FROM itsm_code_mng
		 WHERE USE_YN='Y'
		   AND CD_VAL = #{cdVal}
	</select>	
	
	<update id="orderUpTargetUpdateContents" parameterType="itsmCodeVO">
	/* MaCodeMapper.orderUpTargetUpdateContents */
		UPDATE itsm_code_mng
		  SET CD_SORT_SEQO = CD_SORT_SEQO+1
		 WHERE USE_YN='Y'
		   AND UP_CD_VAL = #{uppoCdVal} 
		   AND CD_SORT_SEQO = #{cdSortSeqo} -1
	</update>
	
	<update id="orderDownTargetUpdateContents" parameterType="itsmCodeVO" >
	/* MaCodeMapper.orderDownTargetUpdateContents */
		UPDATE itsm_code_mng
		  SET CD_SORT_SEQO = CD_SORT_SEQO-1
		 WHERE USE_YN='Y'
		   AND UP_CD_VAL = #{uppoCdVal}    /*코드그룹ID */
		   AND CD_SORT_SEQO = #{cdSortSeqo} +1
	</update>
	
	<update id="orderUpSelfUpdateContents" parameterType="itsmCodeVO">
	/* MaCodeMapper.orderUpSelfUpdateContents */
		<![CDATA[
		UPDATE itsm_code_mng
		  SET CD_SORT_SEQO = CD_SORT_SEQO-1
		 WHERE USE_YN='Y'
		   AND CD_VAL = #{cdVal}    /*코드ID */
		   AND CD_SORT_SEQO > 1
		 ]]>
	</update>
	
	<update id="orderDownSelfUpdateContents" parameterType="itsmCodeVO">
	/* MaCodeMapper.orderDownSelfUpdateContents */
		<![CDATA[
		UPDATE itsm_code_mng
		  SET CD_SORT_SEQO = CD_SORT_SEQO + 1
		WHERE USE_YN = 'Y'
		  AND CD_VAL = #{cdVal}    /*코드ID */
		  AND CD_SORT_SEQO <= (SELECT B.CD_SORT_SEQO 
		  						 FROM(SELECT MAX(CD_SORT_SEQO) AS CD_SORT_SEQO
		  						 	    FROM itsm_code_mng A
		  						 	   WHERE UP_CD_VAL = #{uppoCdVal}
		  						 	 )
		  					  B)
		 ]]>
	</update>
	
	<select id="selectChkCount" parameterType="itsmCodeVO" resultType="int">
	/* MaCodeMapper.selectChkCount */
		SELECT COUNT(CD_VAL) 
		  FROM itsm_code_mng
		 WHERE CD_VAL = #{cdVal} 
	</select>
	
	<select id="cdNmSelectContents" parameterType="itsmCodeVO" resultType="String">
		/* MaCodeMapper.cdNmSelectContents */
			 SELECT CD_NM cdValNm
		       FROM itsm_code_mng A
			  WHERE USE_YN='Y'	
			    AND CD_VAL = #{cdVal}
	</select>
	

	<select id="selectStdTime" parameterType="itsmCodeVO" resultType="itsmCodeVO">
		/* MaCodeMapper.selectStdTime */
		SELECT
			ARRN_JOB_NM actWork
			, PRCS_CRTR_SS pStdTime
		FROM T_ARRN_JOB_MNG
		WHERE PRCS_CRTR_SS  > 0
	</select>
	
	<!-- 전체 코드리스트 -->
	<select id="selectCdAllList" parameterType="itsmCodeVO" resultType="itsmCodeVO">
	/* MaCodeMapper.selectCdAllList */
		SELECT CD_SN serno
			 , UP_CD_VAL uppoCdVal
			 , CD_VAL cdVal
			 , CD_NM cdValNm
			 , CD_LVL_VAL cdLvlVal
			 , CD_SORT_SEQO cdSortSeqo
			 , CD_DTL_EXPL cdDtlsExpl
			 , (SELECT COUNT(1) FROM itsm_code_mng WHERE USE_YN='Y' AND UP_CD_VAL = A.CD_VAL) AS chldCnt
		  FROM itsm_code_mng A
		 WHERE USE_YN='Y'
		 ORDER BY CD_LVL_VAL ASC, UP_CD_VAL ASC
	</select>
	


	<select id="selectCodeExcelList"  resultType="itsmCodeVO">
	/* MaCodeMapper.selectCodeExcelList */
	WITH RECURSIVE EXCEL AS (
		SELECT A.UP_CD_VAL
			 , A.CD_VAL
			 , A.CD_NM
			 , A.CD_LVL_VAL
			 , A.CD_SORT_SEQO
			 , A.CD_DTL_EXPL
			 , A.CD_VAL AS X
		  FROM itsm_code_mng A
		 WHERE A.UP_CD_VAL = '0'
		   AND A.USE_YN = 'Y'

		UNION ALL

		SELECT B.UP_CD_VAL
			 , B.CD_VAL
			 , B.CD_NM
			 , B.CD_LVL_VAL
			 , B.CD_SORT_SEQO
			 , B.CD_DTL_EXPL
			 , C.X AS X
		  FROM itsm_code_mng B
		 INNER JOIN EXCEL C
			ON B.UP_CD_VAL = C.CD_VAL
		 WHERE B.USE_YN = 'Y'
	)
	SELECT @ROWNUM:=@ROWNUM+1 AS rNum
		 , CASE WHEN D.UP_CD_VAL = '0' THEN '-'
				ELSE D.UP_CD_VAL
				END					AS uppoCdVal
		 , D.CD_VAL					AS cdVal
		 , D.CD_NM					AS cdValNm
		 , D.CD_LVL_VAL				AS cdLvlVal
		 , D.CD_SORT_SEQO			AS cdSortSeqo
		 , D.CD_DTL_EXPL			AS cdDtlsExpl
	  FROM EXCEL D , (SELECT @ROWNUM:=0) AS R
	 ORDER BY D.X ASC, D.CD_LVL_VAL ASC, D.CD_SORT_SEQO ASC
	</select>

	<select id="getCnt" parameterType="java.lang.String" resultType="int">
		/* MaCodeMapper.getCnt */
		SELECT
			COUNT(CD_VAL)
		FROM
			itsm_code_mng
		WHERE
			USE_YN = 'Y'
		  AND UP_CD_VAL = #{uppoCdVal}
	</select>


</mapper>