<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opennote.standard.component.itsm.mapper.ItsmStatMonthMapper">

    <!-- 점검현황 -->
    <select id="statInsp" parameterType="itsmStatVO" resultType="itsmStatVO">
        /* ItsmStatMonthMapper.statInsp */
        SELECT D.*
          FROM (SELECT COUNT(A.INSP_SN)                                               all1
                     , NVL(SUM(CASE WHEN B.INSP_GBN = 'INDAY' THEN 1 ELSE 0 END),0)   cnt1 /* 일일점검 */
                     , NVL(SUM(CASE WHEN B.INSP_GBN = 'INPER' THEN 1 ELSE 0 END),0)   cnt2 /* 정기점검 */
                     , NVL(SUM(CASE WHEN B.INSP_GBN = 'INNOR' THEN 1 ELSE 0 END),0)   cnt3 /* 특별점검 */
                     , CONCAT(C.MONTH, '월')                                           month
                  FROM ITSM_STAT_MONTH C
                  LEFT OUTER JOIN ITSM_INSP_RESULT A
                    ON C.MONTH = REPLACE(DATE_FORMAT(A.REG_DT, '%m'), '0', '')
                   AND A.USE_YN = 'Y'
                   AND DATE_FORMAT(A.REG_DT, '%Y') = #{year}
                <if test="schEtc00 !=null and schEtc00 !=''">
                    AND A.SVC_SN = #{schEtc00}
                </if>
                  LEFT OUTER JOIN ITSM_INSP_FORM B
                    ON A.FRM_SN = B.FRM_SN
                 GROUP BY CONCAT(C.MONTH, '월') WITH ROLLUP) D
         ORDER BY D.month * 1
    </select>

    <!-- 장애현황 -->
    <select id="statErr" parameterType="itsmStatVO" resultType="itsmStatVO">
        /* ItsmStatMonthMapper.statErr */
        SELECT D.*
          FROM (SELECT CONCAT(C.MONTH, '월')       AS month
                <choose>
                    <when test="schEtc00 !=null and schEtc00 !=''">
                        , NVL(SUM(CASE WHEN B.SVC_SN = #{schEtc00} THEN 1 ELSE 0 END),0) all1
                    </when>
                    <otherwise>
                        , COUNT(A.ERR_LOG_SERNO)  all1
                    </otherwise>
                </choose>
                     , NVL(SUM(CASE WHEN A.ERR_TP_NM = '404 error' <if test="schEtc00 !=null and schEtc00 !=''">AND B.SVC_SN = #{schEtc00}</if> THEN 1 ELSE 0 END),0) cnt1
                     , NVL(SUM(CASE WHEN A.ERR_TP_NM = '500 error' <if test="schEtc00 !=null and schEtc00 !=''">AND B.SVC_SN = #{schEtc00}</if> THEN 1 ELSE 0 END),0) cnt2
                     , NVL(SUM(CASE WHEN A.ERR_TP_NM != '404 error' AND A.ERR_TP_NM != '500 error' <if test="schEtc00 !=null and schEtc00 !=''">AND B.SVC_SN = #{schEtc00}</if> THEN 1 ELSE 0 END),0) cnt3
                     , NVL(SUM(CASE WHEN B.ERR_GBN = 'ERGB01' <if test="schEtc00 !=null and schEtc00 !=''">AND B.SVC_SN = #{schEtc00}</if> THEN 1 ELSE 0 END),0)      cnt4 /* front */
                     , NVL(SUM(CASE WHEN B.ERR_GBN = 'ERGB02' <if test="schEtc00 !=null and schEtc00 !=''">AND B.SVC_SN = #{schEtc00}</if> THEN 1 ELSE 0 END),0)      cnt5 /* pg */
                     , NVL(SUM(CASE WHEN B.ERR_GBN = 'ERGB03' <if test="schEtc00 !=null and schEtc00 !=''">AND B.SVC_SN = #{schEtc00}</if> THEN 1 ELSE 0 END),0)      cnt6 /* db */
                     , NVL(SUM(CASE WHEN B.ERR_GBN = 'ERGB04' <if test="schEtc00 !=null and schEtc00 !=''">AND B.SVC_SN = #{schEtc00}</if> THEN 1 ELSE 0 END),0)      cnt7 /* servert */
                  FROM ITSM_STAT_MONTH C
                  LEFT OUTER JOIN T_ERR_LOG_MNG A
                    ON C.MONTH = REPLACE(DATE_FORMAT(A.ERR_OCCR_DT, '%m'), '0', '')
                   AND A.USE_YN = 'Y'
                   AND DATE_FORMAT(A.ERR_OCCR_DT, '%Y') = #{year}
                  LEFT OUTER JOIN ITSM_ERR B
                    ON A.ERR_LOG_SERNO = B.ERR_LOG_SERNO
                   AND B.USE_YN = 'Y'
                 GROUP BY CONCAT(C.MONTH, '월') WITH ROLLUP) D
         ORDER BY D.month * 1
    </select>

    <!-- 통계 종합 - 서비스변경현황 -->
    <select id="selectChangeChart" parameterType="itsmStatVO" resultType="itsmStatVO">
        /* ItsmStatMonthMapper.selectChangeChart */
        SELECT C.*
        FROM (SELECT COUNT(B.IMPRV_SN)                       cnt1
                   , CONCAT(A.MONTH, '월')                   month
                FROM ITSM_STAT_MONTH A
                LEFT OUTER JOIN ITSM_IMPRV_DMND B
                  ON A.MONTH = REPLACE(DATE_FORMAT(B.REG_DT, '%m'), '0', '')
                 AND B.USE_YN ='Y'
                 AND (B.PRCS_GBN != 'PG07' OR B.PRCS_GBN IS NULL)
                 AND B.PRCS_CD = 'PO03'
                 AND B.CHG_HST_REG_YN = 'Y'
                 AND DATE_FORMAT(B.REG_DT, '%Y') = #{year}
                <if test="schEtc00 !=null and schEtc00 !=''">
                    AND B.SVC_SN = #{schEtc00}
                </if>
               GROUP BY CONCAT(A.MONTH, '월') WITH ROLLUP) C
        ORDER BY C.month * 1
    </select>

    <!-- 서비스처리현황2-->
    <select id="stat2List" parameterType="itsmStatVO" resultType="itsmStatVO">
        /* ItsmStatMonthMapper.stat2List */
        SELECT C.*
          FROM (SELECT COUNT(B.IMPRV_SN)                                          all1
                     , NVL(SUM(CASE WHEN B.DMND_CD = 'RE01' THEN 1 ELSE 0 END),0) cnt1   /* 긴급 */
                     , NVL(SUM(CASE WHEN B.DMND_CD = 'RE02' THEN 1 ELSE 0 END),0) cnt2   /* 일반 */
                     , NVL(SUM(CASE WHEN B.DMND_CD = 'RE03' THEN 1 ELSE 0 END),0) cnt3   /* 중요 */
                     , CONCAT(A.MONTH, '월')                                      month
                  FROM ITSM_STAT_MONTH A
                  LEFT OUTER JOIN ITSM_IMPRV_DMND B
                    ON A.MONTH = REPLACE(DATE_FORMAT(B.REG_DT, '%m'), '0', '')
                   AND B.USE_YN ='Y'
                   AND (B.PRCS_GBN != 'PG07' OR B.PRCS_GBN IS NULL)
                   AND B.PRCS_CD = 'PO03'
                   AND DATE_FORMAT(B.REG_DT, '%Y') = #{year}
                <if test="schEtc00 !=null and schEtc00 !=''">
                    AND B.SVC_SN = #{schEtc00}
                </if>
                 GROUP BY CONCAT(A.MONTH, '월') WITH ROLLUP) C
        ORDER BY C.month * 1
    </select>


    <!-- 작업소요현황 -->
    <select id="workTime" parameterType="itsmStatVO" resultType="itsmStatVO">
        /* ItsmStatMonthMapper.workTime */
        SELECT C.*
          FROM (SELECT CONCAT(A.MONTH, '월')                         month
                     , COUNT(B.IMPRV_SN)                             all1
                     , COUNT(DISTINCT(B.USER_SERNO))                 cnt
                     , NVL(SUM(B.REQ_DD), 0)                         sum
                     , NVL(ROUND(AVG(B.REQ_DD),2), 0)                avg
                     , NVL(MIN(B.REQ_DD), 0)                         min
                     , NVL(MAX(B.REQ_DD), 0)                         max
                  FROM ITSM_STAT_MONTH A
                  LEFT OUTER JOIN ITSM_IMPRV_DMND B
                    ON A.MONTH = REPLACE(DATE_FORMAT(B.REG_DT, '%m'), '0', '')
                   AND B.USE_YN ='Y'
                   AND (B.PRCS_GBN != 'PG07' OR B.PRCS_GBN IS NULL)
                   AND B.PRCS_CD = 'PO03'
                   AND DATE_FORMAT(B.REG_DT, '%Y') = #{year}
                <if test="schEtc00 !=null and schEtc00 !=''">
                    AND B.SVC_SN = #{schEtc00}
                </if>
                 GROUP BY CONCAT(A.MONTH, '월') WITH ROLLUP) C
         ORDER BY C.month *1
    </select>

</mapper>