@charset "utf-8";
/* 시스템 사이트의 경우 :  메인+서브에 공통 적용되는 common.css 파일 추가해 메인+서브 공통부분, 서브에 적용되는 css 기재 /  메인에만 적용되는 main.css 추가해 메인 css 기재 */
/* 일반 사이트의 경우 : 메인+서브에 공통 적용되는 common.css 파일 추가해 메인+서브 공통부분 css / 메인에만 적용되는 main.css 추가해 메인 css 기재 / 서브에만 적용되는 sub.css 추가해 서브 css 기재 */
/* 시스템, 일반 사이트 공통 : 멤버십, 에러 등이 필요한 경우 퍼블 가이드 UI 요소에서 원하는 부분만 복사해서 common.css에 기재 */
/* basic.css, board.css에서 수정해서 사용할 것들은 common.css에 수정 css 적기 (basic, board 수정 X) */

#wrapper{display: flex;min-height: 100vh;padding-top: 60px;}
#header h1{height:60px}
#header h1 img{object-fit:cover;}

/** gnb left 고정형 **/
.header_leftfix {overflow: hidden;position: absolute;left: 0;top: 0;width: 100%;height: 60px;background: #44b6a0;z-index: 99;}
#gnb.leftfix {min-width: 296px;width: 296px;background: #326c73;z-index: 99;}
#container{position: relative;min-width: 1200px;min-height: 100%;padding: 30px;}
/* #gnb.leftfix.main_type + #container {margin-left: 77px !important;} */
.utils{padding: 3px 10px; margin-right:10px; border-radius:5px; text-align:center; background: #38a38e;}
.utils .user_info{position:relative; margin-right: 10px; padding-left:20px; padding-right: 12px; font-size: 15px; color:#fff; font-weight: 300;}
.utils .user_info::after{position:absolute;top:50%; transform: translateY(-50%); right:0; width:1px; height:13px; background: #fff; content:''; opacity: 0.5;}
.utils .user_info::before{position:absolute;left:0; top:50%; transform: translateY(-50%); font-family: 'Xeicon'; content:'\e9f5';}
.utils .user_info .user_name{font-weight: 500; font-size:15px;}
.utils .btn_logout{position:relative; padding-left:20px; color:#fff; font-size: 15px;}
.utils .btn_logout::before{position:absolute;left:0; top:50%; transform: translateY(-50%); font-family: 'Xeicon'; content:'\e972';}
.utils .btn_logout:hover{color:#1e565b}
.header_inner .right .btn_itsm {position: relative;margin-right: 5px;padding: 3px 10px;border-radius: 5px;font-size: 15px;color: #fff;text-align: center;background: #38a38e;}
.header_inner .right .btn_itsm::before {content:'\e980';font-family: 'Xeicon';margin-right: 6px;}
.header_inner .right .btn_itsm:hover {color: #1e565b;}
.leftfix .gnb {position: relative;width: 100%;height: 100%;}
.leftfix .gnb::before {content: '';position: absolute;left: 77px;top: 0;bottom: 0;width: 219px;border-right: 1px solid #d3d9db;background-color: #fff;}
.leftfix .gnb > li {border-bottom: 1px solid rgba(255, 255, 255, 0.15);}
.leftfix .gnb > li > a {display: block;width: 77px;height: 74px;padding-top: 9px;font-size: 14px;font-weight: 600;color: #fff;text-align: center;}
.leftfix .gnb > li.visible > a, .leftfix .gnb > li > a:hover, .leftfix .gnb > li.on>a {background: #1e565b;}
.leftfix .gnb > li > a span {display: block;width: 100%;height: 30px;margin-bottom: 7px;}
.leftfix .gnb .gnb_i01 {background: url(../images/content/i_gnb01.png) no-repeat center;}
.leftfix .gnb .gnb_i02 {background: url(../images/content/i_gnb02.png) no-repeat center;}
.leftfix .gnb .gnb_i03 {background: url(../images/content/i_gnb03.png) no-repeat center;}
.leftfix .gnb .gnb_i04 {background: url(../images/content/i_gnb04.png) no-repeat center;}
.leftfix .gnb .gnb_i05 {background: url(../images/content/i_gnb05.png) no-repeat center;}
.leftfix .gnb .subwrap {display: none;overflow-y: auto;position: absolute;left: 77px;top: 0;bottom: 0;width: 219px;border-right: 1px solid #d3d9db;background-color: #fff;}
.leftfix .gnb .subwrap.on {z-index: 9999;}
.leftfix .gnb .subwrap::-webkit-scrollbar-track {width: 5px;border: 1px solid #e4e5ec;border-radius: 10px;background: none;}
.leftfix .gnb .subwrap::-webkit-scrollbar {width: 5px;background-color: #fff;}
.leftfix .gnb .subwrap::-webkit-scrollbar-thumb {border-radius: 10px;background-color: #ddd;}
.leftfix .gnb > li.visible .subwrap {display: block !important;}
.leftfix .gnb > li.visible.off .subwrap {display: none !important;}
.leftfix .gnb > li.visible.off > a {background: inherit;}
.leftfix .gnb > li .subwrap.on {display: block !important;z-index: 9999;}
.leftfix .gnb .deps2, .leftfix .gnb .deps2 ul, .leftfix .gnb .deps2 li, .leftfix .gnb .deps2 a {display: block;position: relative;line-height: 1;}
.leftfix .gnb .deps2 li.active > .deps3 {display: block;}
/* no sub */
.leftfix .gnb .deps2 > li > a {padding: 16px 19px;border-bottom: 1px solid #d3d9db;font-size: 15px;color: #333;background: #fff;z-index: 2;cursor: pointer;-webkit-transition: color .2s ease;-o-transition: color .2s ease;transition: color .2s ease;}
.leftfix .gnb .deps2 > li.active > a, .leftfix .gnb .deps2 > li.on > a, .leftfix .gnb .deps2 > li > a:hover {background-color: #f1f8fb;}
.leftfix .gnb .deps2 > li > a::before, .leftfix .gnb .deps2 > li.active > a::before {content: '';position: absolute;right: 20px;top: 18px;width: 8px;height: 8px;border: 1px solid #d6d6d6;border-width: 2px 2px 0 0;transform: rotate(45deg);transition: all 0.1s ease-out;}
.leftfix .gnb .deps2 > li > a::before {opacity: 0;}
.leftfix .gnb .deps2 > li > a:hover::before, .leftfix .gnb .deps2 > li.active > a::before {opacity: 1;border-color: #137581;}
/* has_sub */
.leftfix .gnb .deps2 > li.has_sub > a::before {content: '';opacity: 1;position: absolute;right: 20px;top: 18px;width: 8px;height: 8px;border: 1px solid #d6d6d6;border-width: 2px 2px 0 0;transform: rotate(135deg);transition: all 0.1s ease-out;}
.leftfix .gnb .deps2 > li.has_sub > a:hover::before {border-color: #137581;}
.leftfix .gnb .deps2 > li.has_sub.on > a::before, .leftfix .gnb .deps2 > li.has_sub.active a::before {border-color: #137581;transform: rotate(45deg);}
/* deps3 */
.leftfix .gnb .deps2 .deps3 {display: none;padding: 17px 0;}
.leftfix .gnb .deps2 li.has_sub.on .deps3, .leftfix .gnb .deps2 li.has_sub.active .deps3 {display: block;border-bottom: 1px solid #d3d9db;}
.leftfix .gnb .deps2 .deps3 li a {padding: 0 14px 15px 30px;font-size: 14px;color: #444444;z-index: 2;cursor: pointer;transition: color .2s ease;}
.leftfix .gnb .deps2 .deps3 li:last-child a {padding: 0 14px 0 30px;}
.leftfix .gnb .deps2 .deps3 li a::before {content: "";position: absolute;left: 20px;top: 6px;width: 2px;height: 2px;background: #bababa;}
.leftfix .gnb .deps2 .deps3 li a:hover {color: #0a62c6;}
.leftfix .gnb .deps2 .deps3 li.on a {font-weight: 600;color: #0a62c6;}

/** paging **/
.paging_wrap {position: relative;margin-top: 20px;}
.paging_wrap .btn_left {position: absolute;left: 0;top: 0;}
.paging_wrap .btn_left .btn + .btn {margin-right: 5px;}
.paging_wrap .btn_right {position: absolute;right: 0;top: -2px;}
.paging_wrap .btn_right .btn + .btn {margin-left: 5px;}
.paging {font-size: 0;text-align: center;}
.paging li {display: inline-block;position: relative;min-width: 36px;height: 36px;border: 1px solid var(--bdr);border-left: 0;font-size: 14px;line-height: 34px;color: var(--dark);background-color: #FFFFFF;vertical-align: middle;cursor: pointer;}
.paging li a {display: block;height: 100%;padding: 0 5px;}
.paging li:first-child {border-left: 1px solid var(--bdr);border-radius: 5px 0 0 5px;}
.paging li:last-child {border-radius: 0 5px 5px 0;}
.paging li:first-child:last-child {border-left: 0;border-radius: 5px;}
.paging li.btn_page {font-size: 0;color: var(--black);}
.paging li.btn_page a::before,
.paging li.btn_page a::after {font-family: 'xeicon';font-size: 14px;}
.paging li.btn_page a::after {margin-left: -8px;}
.paging li.first a::before,
.paging li.first a::after,
.paging li.prev a::before {content: '\e93d';}
.paging li.next a::before,
.paging li.last a::after,
.paging li.last a::before {content: '\e940';}
.paging li:hover,
.paging .current {border-color: var(--blue) !important;color: #FFFFFF;background-color: var(--blue);}

/** title **/
.lg_tit {position: relative;margin-bottom: 15px;padding-top: 16px;font-size: 22px;line-height: 30px;}
.lg_tit::before,
.lg_tit::after {content: '';position: absolute;top: 0;width: 10px;height: 10px;border-radius: 5px;}
.lg_tit::before {left: 0;background: #d40281;}
.lg_tit::after {left: 12px;background: #4b8dca;}
.md_tit {position: relative;margin-bottom: 20px;font-size: 20px;line-height: 1;color: var(--blue);white-space: nowrap;}
.sm_tit {position: relative;margin-bottom: 10px;padding-left: 10px;font-size: 16px;line-height: 1;}
.sm_tit::before {content: '';position: absolute;left: 0;top: 6px;width: 5px;height: 5px;border-radius: 3px;background: var(--dark);}

/** button **/
.btn_allclose {display: inline-block;border: 1px solid #a8aec0;font-size: 12px;padding: 2px 5px;border-radius: 5px;margin-left: 10px;cursor: pointer;background: #d9deea;font-weight: 400;}

/** icon **/
.ic.code{display:inline-block; background: url(/ma/images/icon/i_id.png) no-repeat;width: 27px;height: 26px;}
.ic.power{display:inline-block;background: url(/ma/images/icon/i_func.png) no-repeat;width: 27px;height: 26px;}

/** 코드관리 **/
.code_list2 {border: 1px solid #dbebe2;border-top: 1px solid #888888;}
.code_list2 .depth2 {display:none;}
.code_list2 .depth3 {display:none;}
.code_list2 .depth4 {display:none;}
.code_list2 .tbl_codelist thead tr th {position:relative;padding: 10px 20px;background: #f4f7fe;border-right: 1px solid #e4e7ee;font-size:14px;color: #444;font-weight:600;border-bottom: 1px solid #e4e7ee;}
.code_list2 .tbl_codelist thead tr th i {display:inline-block;vertical-align: middle;margin-right: 5px;}
.code_list2 .tbl_codelist thead tr th i.name {background:url(/ma/images/icon/i_id.png) no-repeat;width:27px;height:26px;}
.code_list2 .tbl_codelist thead tr th i.func {background:url(/ma/images/icon/i_func.png) no-repeat;width:26px;height:26px;}
.code_list2 .tbl_codelist thead tr th:last-child {border-right:0;}
.legend_wrap {position: relative;text-align: right;margin-bottom: 10px;}
.legend_wrap span {position:relative;padding-left: 7px;margin-right: 5px;}
.legend_wrap span::before {content:'';position: absolute;left: 0;top: 50%;width:3px;height:3px;background: #868686;transform: translateY(-50%);}
.legend_wrap .legend_list {display:inline-block;}
.legend_wrap .legend_list > li {display:inline-block;position:relative;vertical-align: middle;padding-left: 11px;margin-left: 5px;}
.legend_wrap .legend_list > li::before {content:'';position: absolute;left: 0;top: 50%;width:9px;height:9px;border-radius:50%;transform: translateY(-50%);}
.legend_wrap .legend_list > li.legend1::before {background:#90d052;}
.legend_wrap .legend_list > li.legend2::before {background:#d7bc06;}
.legend_wrap .legend_list > li.legend3::before {background:#fc7b13;}
.legend_wrap .legend_list > li.legend4::before {background:#e61b25;}


.code_list2 .tbl_codelist tbody tr td {padding: 6px 20px;font-size: 13px;}
.code_list2 .tbl_codelist tbody tr td:last-child {border-right:0;}
.code_list2 .tbl_codelist tbody tr td.id {position: relative;text-align:left;padding: 5px 10px 5px 22px;}
.code_list2 .depth1 .dep1 {text-align: left;padding: 5px 10px 5px 22px;cursor: pointer;}



.code_list2 .tbl_codelist td.id.select {color:#0a62c6;font-weight:600;}
.code_list2 .tbl_codelist td.id .count {padding: 0 3px;background:#eaf3f8;color:#696b6d;border:1px solid #b4c8d4;border-radius: 3px;margin-left: 4px;font-size: 12px;}
.code_list2 .tbl_codelist td .legend {width:9px;height:9px;border-radius:50%;margin-right:3px;}
.code_list2 .tbl_codelist td .legend1 {background:#90d052;}
.code_list2 .tbl_codelist td .legend2 {background:#d7bc06;}
.code_list2 .tbl_codelist td .legend3 {background:#fc7b13;}
.code_list2 .tbl_codelist td .legend4 {background:#e61b25;}
.code_list2 .depth2 .tbl_codelist tbody tr td:first-child {border-top: 0;}
.code_list2 .depth2 > li > .tbl_codelist td.id {padding-left: 45px;cursor: pointer;}
.code_list2 .depth2 > li > .tbl_codelist td.id::before{content:'';position: absolute;left: 28px;top: 0;width: 14px;height: 37px;background: url(/ma/images/icon/i_line2.png) no-repeat 0 50%;background-size: auto 100%;}
.code_list2 .depth3 > li > .tbl_codelist td.id {padding-left: 65px;cursor: pointer;}
.code_list2 .depth3 > li > .tbl_codelist td.id::before{content:'';position: absolute;left: 28px;top: 0;width: 34px;height: 37px;background: url(/ma/images/icon/i_line3.png) no-repeat 0 50%, url(/ma/images/icon/i_line2.png) no-repeat 20px 50%;background-size: auto 100%;}
.code_list2 .depth4 > li > .tbl_codelist td.id {padding-left: 83px;}
.code_list2 .depth4 > li > .tbl_codelist td.id::before{content:'';position: absolute;left: 28px;top: 0;width: 52px;height: 37px;background: url(/ma/images/icon/i_line3.png) no-repeat 0 50%,url(/ma/images/icon/i_line3.png) no-repeat 20px 50%, url(/ma/images/icon/i_line2.png) no-repeat 40px 50%;background-size: auto 100%;}
.code_list2 .depth3 > li:last-child > .tbl_codelist td.id::before{content:'';position: absolute;left: 28px;top: 0;width: 34px;height: 37px;background: url(/ma/images/icon/i_line3.png) no-repeat 0 50%, url(/ma/images/icon/i_line.png) no-repeat 20px 50%;} 
.code_list2 .depth4 > li:last-child > .tbl_codelist td.id::before{content:'';position: absolute;left: 28px;top: 0;width: 52px;height: 37px;background: url(/ma/images/icon/i_line3.png) no-repeat 0 50%,url(/ma/images/icon/i_line3.png) no-repeat 20px 50%, url(/ma/images/icon/i_line.png) no-repeat 40px 50%;}
.code_list2 .depth1 .tbl_codelist td.id i {display: inline-block;width: 18px;height: 17px;margin-right: 6px;background: url(/ma/images/icon/folder_more.png) no-repeat 0 50%;vertical-align: middle;}
.code_list2 .depth1 .tbl_codelist td.id.open i {display: inline-block;width: 18px;height: 17px;margin-right: 6px;background: url(/ma/images/icon/folder_close.png) no-repeat 0 50%;vertical-align: middle;}
.code_list2 .depth2 .tbl_codelist td.id i {width: 18px;background: url(/ma/images/icon/i_folder.png) no-repeat 0 50%;}
.code_list2 .depth2 .tbl_codelist td.id.more i {display: inline-block;width: 18px;height: 17px;margin-right: 6px;background: url(/ma/images/icon/folder_more.png) no-repeat 0 50%;}
.code_list2 .depth2 .tbl_codelist td.id.open i {background: url(/ma/images/icon/folder_close.png) no-repeat 0 50%;}
.code_list2 .depth4 .tbl_codelist td.id i {display: inline-block;margin-right: 0;background: url(/ma/images/icon/i_file2.png) no-repeat 0 50%;}
.code_list2 .tbl_codelist td .btn_func {margin-left:10px;min-width: 60px;height: 25px;padding: 0 5px;font-size: 11px;line-height: 24px;border-color: #3c3c3c;color: #696b6d;background-color: #fff;}
.code_list2 .tbl_codelist td .btn_func:first-child {margin-left:0;}

.code_area { display: -webkit-box; display: -ms-flexbox; display: flex;}
.code_area .code_tbl tr.active th,
.code_area .code_tbl tr.active td{background: #f1f6fa;}

/** login typeA sns button **/
.login_sns {position: relative;text-align: center;}
.login_sns .txt {margin-bottom: 10px;color: #222;text-align: left;}
.login_sns .btn_area {display: flex;margin: 0;font-size: 15px;text-align: center;}
.login_sns a {display: block;width: 100%; cursor: default;}
.login_sns a img {width: 20%;}
.login_sns a > span {display: inline-block;padding-left: 36px;line-height: 40px;}
.login_sns .kakao {background: #fbe201;}
.login_sns .kakao span {background: url(/ma/images/icon/i_sign_kakao.png) no-repeat 0 50% / auto 36px;}
.login_sns .naver {color: #FFFFFF;background: #1dc800;}
.login_sns .naver span {background: url(/ma/images/icon/i_sign_naver.png) no-repeat 0 50% / auto 36px;}

.page_top {position: relative;margin-bottom: 30px;padding-bottom: 15px;background: url(../images/common/bg_tit_loc.jpg) repeat-x 100% 100%;}
.page_title {display: inline-block;font-size: 30px;font-weight: 700;line-height: 1.2;color: #000;}
.page_txt {margin-top: 10px;font-size: 14px;color: #828282;}
.page_top .breadcrumb {position: absolute;right: 0;bottom: 15px;height: 20px;}
.page_top .breadcrumb li {float: left;padding: 0 12px 0 7px;line-height: 20px;background: url(../images/icon/i_tit_loc_arrow.png) no-repeat 100% 50%;}
.page_top .breadcrumb li.home i {width: 20px;height: 20px;font-size: 14px;line-height: 20px;color: #fff;text-align: center;background: #4ca8fb;}
.page_top .breadcrumb li.last {padding: 0 0 0 7px;font-weight: 700;background: none;}
.code_list2 .tbl_codelist td .btn_func:first-child {margin-left:0;}

/* menu */
/* menu_area */
.menu_area{display:flex; align-items: normal; justify-content:space-between; margin-top: 20px;}
.menu_area > .menu_list,
.menu_area > .menu_form{position:relative; min-height: 660px; max-height: 660px; padding: 20px;border-radius: 0 4px 4px 4px;border:1px solid var(--bdr); overflow-y: auto;}
.menu_area > .menu_list.simplebar-scrollable-y {overflow-y: inherit;}
/* menuList */
.menu_list .depth2 {display:none;}
.menu_list .depth3 {display:none;}
.menu_list .depth4 {display:none;}
.menu_list .depth5 {display:none;}
.board_left i {display:inline-block;vertical-align: middle;margin-right: 5px;}
.board_left i.name {background:url(/ma/images/icon/i_id.png) no-repeat;width:27px;height:26px;}
.menu_list .tbl_menulist tbody tr td {padding: 6px 20px;font-size: 13px;}
.menu_list .tbl_menulist tbody tr td:last-child {border-right:0;}
.menu_list .tbl_menulist tbody tr td.id {position: relative;text-align:left;padding: 5px 10px 5px 22px;}
.menu_list .depth1 .dep1 {text-align: left;padding: 5px 10px 5px 22px;cursor: pointer;}
.menu_list .depth2 .tbl_menulist tbody tr td:first-child {border-top: 0;}
.menu_list .depth2 > li > .tbl_menulist td.id {padding-left: 45px;cursor: pointer;}
.menu_list .depth2 > li > .tbl_menulist td.id::before{content:'';position: absolute;left: 28px;top: 0;width: 14px;height: 37px;background: url(/ma/images/icon/i_line2.png) no-repeat 0 50%;background-size: auto 100%;}
.menu_list .depth3 > li > .tbl_menulist td.id {padding-left: 65px;cursor: pointer;}
.menu_list .depth3 > li > .tbl_menulist td.id::before{content:'';position: absolute;left: 28px;top: 0;width: 34px;height: 37px;background: url(/ma/images/icon/i_line3.png) no-repeat 0 50%, url(/ma/images/icon/i_line2.png) no-repeat 20px 50%;background-size: auto 100%;}
.menu_list .depth4 > li > .tbl_menulist td.id {padding-left: 85px;cursor: pointer;}
.menu_list .depth4 > li > .tbl_menulist td.id::before{content:'';position: absolute;left: 28px;top: 0;width: 54px;height: 37px;background: url(/ma/images/icon/i_line3.png) no-repeat 0 50%, url(/ma/images/icon/i_line3.png) no-repeat 20px 50%, url(/ma/images/icon/i_line2.png) no-repeat 40px 50%;background-size: auto 100%;}
.menu_list .depth5 > li > .tbl_menulist td.id {padding-left: 105px;}
.menu_list .depth5 > li > .tbl_menulist td.id::before{content:'';position: absolute;left: 28px;top: 0;width: 74px;height: 37px;background: url(/ma/images/icon/i_line3.png) no-repeat 0 50%, url(/ma/images/icon/i_line3.png) no-repeat 20px 50%, url(/ma/images/icon/i_line3.png) no-repeat 40px 50%, url(/ma/images/icon/i_line2.png) no-repeat 60px 50%;background-size: auto 100%;}
.menu_list .depth2 > li:last-child > .tbl_menulist td.id::before{background: url(/ma/images/icon/i_line.png) no-repeat 0 50%;}
.menu_list .depth2 > li:last-child > .tbl_menulist td.id.open::before{background: url(/ma/images/icon/i_line2.png) no-repeat 0 50%;}
.menu_list .depth3 > li:last-child > .tbl_menulist td.id::before{content:'';position: absolute;left: 28px;top: 0;width: 34px;height: 37px;background: url(/ma/images/icon/i_line3.png) no-repeat 0 50%, url(/ma/images/icon/i_line.png) no-repeat 20px 50%;}
.menu_list .depth3 > li:last-child > .tbl_menulist td.id.open::before{content:'';position: absolute;left: 28px;top: 0;width: 34px;height: 37px;background: url(/ma/images/icon/i_line3.png) no-repeat 0 50%, url(/ma/images/icon/i_line2.png) no-repeat 20px 50%;} 
.menu_list .depth4 > li:last-child > .tbl_menulist td.id::before{content:'';position: absolute;left: 28px;top: 0;width: 52px;height: 37px;background: url(/ma/images/icon/i_line3.png) no-repeat 0 50%, url(/ma/images/icon/i_line3.png) no-repeat 20px 50%, url(/ma/images/icon/i_line.png) no-repeat 40px 50%;}
.menu_list .depth4 > li:last-child > .tbl_menulist td.id.open::before{content:'';position: absolute;left: 28px;top: 0;width: 34px;height: 37px;background: url(/ma/images/icon/i_line3.png) no-repeat 0 50%, url(/ma/images/icon/i_line3.png) no-repeat 20px 50%, url(/ma/images/icon/i_line2.png) no-repeat 40px 50%;}
.menu_list .depth5 > li:last-child > .tbl_menulist td.id::before{content:'';position: absolute;left: 28px;top: 0;width: 70px;height: 37px;background: url(/ma/images/icon/i_line3.png) no-repeat 0 50%, url(/ma/images/icon/i_line3.png) no-repeat 20px 50%, url(/ma/images/icon/i_line3.png) no-repeat 40px 50%, url(/ma/images/icon/i_line.png) no-repeat 60px 50%;}
.menu_list .depth1 .tbl_menulist td.id i {display: inline-block;width: 18px;height: 17px;margin-right: 6px;background: url(/ma/images/icon/i_folder.png) no-repeat 0 50%;vertical-align: middle;}
.menu_list .depth1 .tbl_menulist td.id.more i {display: inline-block;width: 18px;height: 17px;margin-right: 6px;background: url(/ma/images/icon/folder_more.png) no-repeat 0 50%;vertical-align: middle;}
.menu_list .depth1 .tbl_menulist td.id.open i {display: inline-block;width: 18px;height: 17px;margin-right: 6px;background: url(/ma/images/icon/folder_close.png) no-repeat 0 50%;vertical-align: middle;}
.menu_list .depth2 .tbl_menulist td.id i {width: 18px;background: url(/ma/images/icon/i_folder.png) no-repeat 0 50%;}
.menu_list .depth2 .tbl_menulist td.id.more i {display: inline-block;width: 18px;height: 17px;margin-right: 6px;background: url(/ma/images/icon/folder_more.png) no-repeat 0 50%;}
.menu_list .depth2 .tbl_menulist td.id.open i {background: url(/ma/images/icon/folder_close.png) no-repeat 0 50%;}
.menu_list .depth3 .tbl_menulist td.id i {width: 18px;background: url(/ma/images/icon/i_folder.png) no-repeat 0 50%;}
.menu_list .depth3 .tbl_menulist td.id.more i {display: inline-block;width: 18px;height: 17px;margin-right: 6px;background: url(/ma/images/icon/folder_more.png) no-repeat 0 50%;}
.menu_list .depth3 .tbl_menulist td.id.open i {background: url(/ma/images/icon/folder_close.png) no-repeat 0 50%;}
.menu_list .depth4 .tbl_menulist td.id i {width: 18px;background: url(/ma/images/icon/i_folder.png) no-repeat 0 50%;}
.menu_list .depth4 .tbl_menulist td.id.more i {display: inline-block;width: 18px;height: 17px;margin-right: 6px;background: url(/ma/images/icon/folder_more.png) no-repeat 0 50%;}
.menu_list .depth4 .tbl_menulist td.id.open i {background: url(/ma/images/icon/folder_close.png) no-repeat 0 50%;}
.menu_list .depth5 .tbl_menulist td.id i {display: inline-block;margin-right: 0;background: url(/ma/images/icon/i_file2.png) no-repeat 0 50%;}
.onclick_point {background-color:#e6e9f0;}

/* ctrl button */
span[class*="cell-ctrl-bt"], a[class*="cell-ctrl-bt"] {text-align: center;line-height: 20px;display: inline-block;vertical-align: middle;}
button[class*="cell-ctrl-bt"]-check::before { position: relative; top: 2px; }
button[class*="cell-ctrl-bt"]-delete::before { content: "\e922"; position: relative; top: 1px; }
[class*="cell-ctrl-bt"] { width: 20px; height: 20px; background-color: #f9f9f9; border: 1px solid #e3e3e3; }
[class*="cell-ctrl-bt"]::before {font-family: xeicon !important;line-height: 1;color: #afafaf;}
.cell-ctrl-bt-up::before { content: "\e930"; font-size: 17px; }
.cell-ctrl-bt-down::before {content: "\e936"; font-size: 17px; }
.cell-ctrl-bt-add::before { content: "\002b"; font-size: 15px; }
.cell-ctrl-bt-trash::before { content: "\e96e"; font-size: 15px; }

/* txt */
.blue_txt {color: #0152fb !important;}
span.error{color: #ed2828 !important;}

/** 갤러리 **/
.gallery_wrap .thum_list li.no-data{width: 100%; border-radius: 10px; border:none; height: 200px; line-height: 200px; color:#5d5d5d; text-align: center; background: #f3f6f9;}

/** FAQ **/
.faq_list dl:first-child dt a{justify-content: center;}
.faq_list dl dt a p{word-wrap: break-word; word-break: keep-all; max-width:100%;}
.faq_list dd p{word-wrap: break-word; word-break: keep-all; max-width:100%;}

/** board_list **/
.board_list > tbody > tr.no_cursor > td{cursor: default;}

/* contTmpl List */
.setList{overflow-y: auto;height: 90%;background: #f6f6f6;padding: 10px;}
.setList li{border: 1px solid #eee;padding: 8px 10px;overflow: hidden;position: relative;min-height: 48px;line-height: 30px;background: #fff;}
.setList li ~ li{margin-top: 7px;}
.setList li p{display: inline-block;font-size: 15px;float: left;max-width: 303px;}
.setList li .btns{position: absolute;right: 10px;top: 7px;}
.setList li .btns button{display: inline-block; font-size: 0; width: 18px; height: 18px; border: 1px solid #ccc;}
.setList li .btns button + button{margin-left: 3px;}
.setList li .btns .btn_up{transform: rotate(-90deg);background-position: left 3px top 3px;}
.setList li .btns .btn_down{transform: rotate(90deg);background-position: left 3px top 2px;}
.setList li .btns button:hover{border-color: #999;}
.setList li p .btn_address{margin-left: 5px;}
.setList li img{margin-left: 2px; display: none;}
.setList li img.on{display: inline-block;}
.setList li.tbl_li .btn_tbl_set{position:absolute;right: 48px; top:4px;}
.setList li.tbl_li p{position:relative;padding-right: 130px;max-width:100%;width:100%;} 
.setList li .text_over .btn_select_delete{font-size: 0;width: 15px;height: 15px;border: 0; background: #fff;background: url(/ma/images/icon/i_input_del.png) no-repeat center;margin-right: 10px;}
.setList .tbl_detail{clear: both; padding: 10px; background: #f2f2f2; margin-top: 35px; overflow: hidden; display: none;}
.setList .tbl_detail dl{display: flex; align-items: center;}
.setList .tbl_detail dl dt{width: 100px;}
.setList .tbl_detail dl dd{width: calc(100% - 100px); font-size: 13px;}
.setList .tbl_detail dl dd input{width: 35px; height:25px; border: 1px solid #d5d4d4; border-radius: 5px; text-align: center}
.setList .tbl_detail .btn_sml{height: 25px;line-height: 23px !important;min-width: 0;padding: 0 10px;font-size: 12px;}
.setList .tbl_detail .tbl_view{margin-top: 10px; background: #fff; overflow-x:auto;}
.setList .tbl_detail .tbl_view table,
.setList .tbl_detail .tbl_view table td{border: 1px solid #ccc;}
.setList .tbl_detail .tbl_view table td{ text-align: center;}
.setList .tbl_detail .tbl_view table td label{padding: 3px; display: block; width: 100%; height: 100%; cursor: pointer;}
.setList .tbl_detail .tbl_view table td input{cursor: pointer;}
.setList .tbl_detail .tbl_view table td.tbl_title{background: #e5f1ff;}
.setList .tbl_detail .tbl_view table td.tbl_subTitle{background: #ececec;}
.setList .tbl_detail .tbl_view + dl{margin-top: 10px;}
.setList .tbl_detail .tbl_view ~ dl dt{width: 60px;}
.setList .tbl_detail .tbl_view ~ dl dd{width: calc(100% - 60px);}
.setList .tbl_detail dl + dl{margin-top: 4px;}
.setList .tbl_detail .btn_area{float: right; margin-top: 5px; text-align: right;}
.pop_content > .right{width: 30%;padding-left: 15px;border-left: 1px solid #ddd;padding-bottom: 45px;}
.pop_content > .left, .pop_content > .right {position: relative;height: 784px!important;}
.cont_tmpl_checkbox{position: absolute;z-index: 99;margin: 10px;}
.thum_list a .btn_favorite{position:absolute;margin-left:180px; margin-top: 10px;width:20px;height:20px;border-radius:100px;font-size:0;border:2px solid transparent;background:#ddd url(/ma/images/icon/i_favorite_star.png) no-repeat center;z-index:998;}
.thum_list a .btn_favorite.on{background-color:#ffa402;}
.setList .text_over span {margin-bottom: 7px;font-size: 18px;font-weight: 500;line-height: 1;color: var(--dark);overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.thum_list .count_area{overflow:hidden;float: right; position:relative; top:-28px;right:15px; z-index: 10000}  
.thum_list .count_area *{box-sizing:border-box;}
.thum_list .count_area input[type=number]{height: 25px;border:1px solid #ddd;float:left;border-left:0;border-right:0;width: 25px;text-align:center;font-size: 12px;}
.thum_list .count_area input[type=number]::-webkit-inner-spin-button {appearance: none;-moz-appearance: none;-webkit-appearance: none;}
.thum_list .count_area .btn_minus, 
.thum_list .count_area .btn_plus{display:inline-block;width: 25px;height: 25px;font-size: 13px;float:left;border:1px solid #ddd;cursor:pointer;}
.thum_list .count_area::after{content:''; display: block; width:100%; height:100%; position:absolute; right:0; top:0; z-index:9999;}
.thum_list .count_area{opacity:0.4;}
.thum_list input:checked ~ .count_area{opacity:1;}
.thum_list input:checked ~ .count_area::after{display:none;}


/* manual */
#div_item {width: 100%;margin: auto;margin-top: 40px;padding: 0px 40px 40px;border: 3px solid #e8e8e8;}
.title_type {table-layout: fixed;color: #000;font-size: 17px;}
.subTitle_type {table-layout: fixed;color: #000;font-size: 15px;padding-left:15px;}
/* manual's code */
.section_main_ttl, .section_sub_ttl {font-weight: 600;}
.section_main_ttl::before, .section_sub_ttl::before {content: '';display: inline-block;position: relative;top: -2px;height: 2px;margin-right: 5px;background-color: #72a4e6;vertical-align: middle;}
.section_sub_ttl {margin-top: 30px;margin-bottom: 10px;font-size: 14px;}
.section_sub_ttl::before {width: 5px;}
.btn_code_open {margin-left: 5px !important;text-indent: -9999px;background: #fff url(/ma/images/icon/i_faq_off.png) no-repeat center / 10px;}
.btn_code_open.on {background: #fff url(/ma/images/icon/i_faq_on.png) no-repeat center / 10px;}
.ui_code {display: none;}
.ui_code pre[class*=language-] {margin: 0;}
.ui_code pre[class*=language-] {border-radius: 0;}
.ui_code {background: #272822;}
.ui_code > ul {border-bottom: 1px solid #454545;}
.ui_code > ul::after {content: '';display: block;clear: both;}
.ui_code > ul li {float: left;min-width: 70px;padding: 0 15px;border-right: 1px solid #454545;font-size: 14px;line-height: 30px;color: #fff;text-align: center;text-transform: uppercase;cursor: pointer;}
.ui_code > ul li:hover {background: rgba(255, 255, 255, 0.05);}
.ui_code > ul li.on {background: rgba(255, 255, 255, 0.1);}
.ui_code .li_linenum {padding: 1em;font-family: 'Consolas';}
.ui_code .li_linenum li {counter-increment: linenumber;position: relative;line-height: 1.8;color: #fff;}
.ui_code .li_linenum li::before {content: counter(linenumber);display: inline-block;width: 2em;margin-right: .8em;padding-right: .8em;border-right: 1px solid #999;font-size: 16px;color: #999;letter-spacing: -1px;text-align: right;}
.ui_code .li_linenum li a::before {content: '\e904';font-family: 'xeicon';position: relative;bottom: -2px;margin-right: 10px;line-height: 1;}
.ui_code .li_linenum li a:hover {color: #999;}
.ui_code div.code-toolbar > .toolbar {opacity: 1;right: 0;top: -31px;}
.ui_code div.code-toolbar > .toolbar button {width: 70px;border-left: 1px solid #454545 !important;border-radius: 0 !important;line-height: 30px !important;color: #fff !important;background: #272822 !important;box-shadow: none !important;}
.ui_code div.code-toolbar > .toolbar button:hover {background: rgba(255, 255, 255, 0.05) !important;}

/* filebox */
.filebox input[type="file"] {overflow: hidden;position: absolute;width: 0;height: 0;padding: 0;border: 0;}
.filebox .btn.bd.blue{padding:0 7px; min-width:0; height:25px; line-height:23px; }
.filebox .btn.bd.blue i{font-size:13px;}
.filebox .btn.bd.red{margin-left:2px;height:25px; line-height:23px;}
.filebox .btn.bd.red i{font-size:10px; margin-left:2px;}
.filebox ul{margin-top: 7px;padding: 3px 10px;border: 1px solid #ddd;}
.filebox ul li{position:relative;font-size:13px; padding:3px 0;}
.filebox ul li p{display:inline-block;}
.filebox ul li p span{padding-right:10px;font-size: 12px;}
.filebox ul li .btn_file_del{border:0; background:none; margin-left:20px; color:red; font-size:12px;}
.filebox ul li.tit{padding-bottom: 6px;border-bottom:1px solid #ddd;padding-top: 0;}

/* basic & board 수정 */
#content .calendar_input .ui-datepicker-trigger{background: url(../images/icon/i_sch.png) no-repeat center;}

/* sns 계정 연동여부 */
.sns_linkage {display: flex;gap: 10px;}
.sns_linkage li {min-width: 35px;width: 35px;height: 35px;border-radius: 100%;font-size: 0;}
.sns_linkage li.naver {background: #c4c4c4 url(/ma/images/icon/i_sns_naver.png) no-repeat 50%;}
.sns_linkage li.naver.on {background-color: #2db400;}
.sns_linkage li.kakao {background: #c4c4c4 url(/ma/images/icon/i_sns_kakao.png) no-repeat 50%;}
.sns_linkage li.kakao.on {background-color: #ffe600;}

/* popup */
.popup_sample_img > img {overflow: hidden;position: relative;max-width: 100%;}

.board_view tbody tr td p{word-wrap: break-word;word-break: keep-all;max-width: 100%;}

/* function button */
.btn.btn_hwp {padding-left: 32px;background: url(../images/icon/file_word.svg) no-repeat 10px 50% / auto 16px;}
.btn.btn_hwp:hover, .btn.btn_hwp:focus {background-color: var(--btn-hover);}