<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="on.standard.system.usermanage">
    <select id="inqUserInfo" parameterType="CommonMap" resultType="userVO">
        /*  on.standard.system.usermanage.inqUserInfo */
        SELECT USER_ID             userId
             , USER_PSWD           userPswd
             , USER_KOR_NM         userKorNm
             , USER_ENG_NM         userEngNm
             , MOBILE_NO           mobileNo
             , EMAIL_ADDR          emailAddr
             , LST_LOGIN_DT        lstLoginDt
             , LST_PSWD_CHG_DT     lstPswdChgDt
             , AUTH_AREA_CD        authAreaCd
             , SNS_SE_CD           snsSeCd
             , SNS_ACCOUNT         snsAccount
             , INTG_YN             intgYn
             , ZIP_NO              zipNo
             , HOME_ADDR           homeAddr
             , HOME_ADDR_DTLS      homeAddrDtls
             , BLON_NM             blonNm
             , FAX_NO              faxNo
             , INLN_NO             inlnNo
             , JGRP_CD             jgrpCd
             , JRNK_CD             jrnkCd
             , REG_DIV_CD          regDivCd
             , USE_YN              useYn
             , PSWD_FAIL_CNT       pswdFailCnt
             , IS_DEL_ABLE         isDelAble
             , BRK_YN              brkYn
             , BRK_COMMENT         brkComment
          FROM STB_B_USER_MNG
         WHERE USER_ID =  #{userId}
    </select>

     <select id="selectUserRoleList" parameterType="CommonMap" resultType="userVO">
          /*  on.standard.system.usermanage.selectUserRoleList */
          SELECT AUTH_ID authId
            FROM STB_M_AUTH_USER_MNG
           WHERE USER_ID = #{userId}
     </select>

     <update id="updateUserPswdFailCount" parameterType="CommonMap">
          /*  on.standard.system.usermanage.updateUserPswdFailCount */
          UPDATE STB_B_USER_MNG
             SET PSWD_FAIL_CNT = PSWD_FAIL_CNT + 1
               , BRK_YN = CASE WHEN (SELECT LGIN_FAIL_LMT_CNT from STB_B_SYSTEM_POLICY_MNG) = PSWD_FAIL_CNT + 1 THEN 'Y'
                               ELSE BRK_YN
                          END
               , BRK_COMMENT = CASE WHEN (SELECT LGIN_FAIL_LMT_CNT from STB_B_SYSTEM_POLICY_MNG) = PSWD_FAIL_CNT + 1 THEN CONCAT(BRK_COMMENT , ', 비밀번호 실패건수 초과로 인한 계정잠김 ')
                                    ELSE BRK_COMMENT
                         END
           WHERE USER_ID =  #{userId}
     </update>


     <update id="updUserFinalLogin" parameterType="CommonMap">
          /*  on.standard.system.usermanage.updUserFinalLogin */
          UPDATE STB_B_USER_MNG
             SET LST_LOGIN_DT = CURTIME()
               , PSWD_FAIL_CNT = 0
           WHERE USER_ID =  #{userId}
     </update>

     <insert id="insUserLoginHist" parameterType="CommonMap" >
          /*  on.standard.system.usermanage.insUserLoginHist */
          INSERT INTO STB_H_USER_LOGIN_LOG
                      (USER_ID  , AUTH_AREA_CD , USER_AUTH_CD ,REMOTE_ADDR , LOGIN_DIV_CD , LOGIN_COMMENT   )
               VALUES (#{userId}, #{authAreaCd}, #{authIdList},#{remoteAddr}, #{loginDivCd}, #{loginCommnet} )
    </insert>

</mapper>