<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.kps.partners.mapper.PopupMngMapper">

    <!-- 검색 조건 -->
    <sql id="Where">
        <if test='searchKeyword !=null and searchKeyword !=""'>
            <if test='searchCondition ==null or searchCondition == ""'>
                AND (
                       UPPER(POPUP_TITL_NM) LIKE CONCAT('%',UPPER(#{searchKeyword}),'%')
                    OR UPPER(POPUP_CTT) LIKE CONCAT('%',UPPER(#{searchKeyword}),'%')
                )
            </if>
            <if test='searchCondition !=null and searchCondition !="" and searchCondition==1'>
                AND UPPER(POPUP_TITL_NM) LIKE CONCAT('%',UPPER(#{searchKeyword}),'%')
            </if>
            <if test='searchCondition !=null and searchCondition !="" and searchCondition==2'>
                AND UPPER(POPUP_CTT) LIKE CONCAT('%',UPPER(#{searchKeyword}),'%')
            </if>
        </if>
        <!-- 게시여부 -->
        <if test='schEtc00 != null and schEtc00 != ""'>
        	AND POPUP_PSTN_YN = #{schEtc00}
        </if>
        <!-- 기간 -->
        <if test='schEtc01 != null and schEtc01 != ""'>
        	<choose>
        		<when test='schEtc01 == "0"'>
			        <if test='searchStartDate !=null and searchStartDate !="" and searchEndDate !=null and searchEndDate !="" '>
			            AND DATE_FORMAT(REG_DT, '%Y.%m.%d') <![CDATA[>=]]> #{searchStartDate}
			            AND DATE_FORMAT(REG_DT, '%Y.%m.%d') <![CDATA[<=]]> #{searchEndDate}
			        </if>
        		</when>
        		<when test='schEtc01 == "1"'>
			        <if test='searchStartDate !=null and searchStartDate !="" and searchEndDate !=null and searchEndDate !="" '>
			            AND (
							   ( #{searchStartDate} <![CDATA[ <= ]]> POPUP_PSTN_STRT_DT 
							   AND POPUP_PSTN_STRT_DT <![CDATA[ <= ]]> #{searchEndDate}
							   )
							OR ( #{searchStartDate} <![CDATA[ <= ]]> POPUP_PSTN_END_DT 
							   AND POPUP_PSTN_END_DT <![CDATA[ <= ]]> #{searchEndDate} 
							   )
							OR ( POPUP_PSTN_STRT_DT <![CDATA[ <= ]]> #{searchStartDate} 
							   AND #{searchEndDate} <![CDATA[ <= ]]> POPUP_PSTN_END_DT 
							   )
							)
			        </if>
        		</when>
        	</choose>
        </if>
    </sql>
    
    <!-- 팝업 건수 조회 -->
	<select id="selectCount" parameterType="popupVO" resultType="int">
		/* PopupMngMapper.selectCount */
		SELECT COUNT(1)
		  FROM T_POPUP_MNG
		<where>
			<include refid="Where" />
			AND USE_YN = 'Y'
		</where>
	</select>
	
	<!-- 팝업 목록 조회 -->
	<select id="selectList" parameterType="popupVO" resultType="popupVO">
		/* PopupMngMapper.selectList */
		SELECT POPUP_SERNO                                       popupSerno
			 , POPUP_TITL_NM                                     popupTitlNm
			 , POPUP_PSTN_YN                                     popupPstnYn
			 , POPUP_PSTN_PRD_YN                                 popupPstnPrdYn
			 , DATE_FORMAT(POPUP_PSTN_STRT_DT,'%Y.%m.%d')        popupPstnStrtDt
			 , DATE_FORMAT(POPUP_PSTN_END_DT,'%Y.%m.%d')         popupPstnEndDt
			 , POPUP_WDTH_SIZE_VAL                               popupWdthSizeVal
			 , POPUP_HGHT_SIZE_VAL                               popupHghtSizeVal
			 , REP_IMG_ID                                        repImgId
			 , POPUP_TGT_CD                                      popupTgtCd
			 , POPUP_UPND_MARGN_VAL                              popupUpndMargnVal
			 , POPUP_LSD_MARGN_VAL                               popupLsdMargnVal
			 , POPUP_CTT                                         popupCtt
			 , POPUP_CL_CD	                                     popupClCd
			 , FNC_CODE_NM(POPUP_CL_CD)							 popupClNm
			 , REGR_SERNO                                        regrSerno
			 , FNC_USER_NM(REGR_SERNO)							 regrNm
			 , DATE_FORMAT(REG_DT,'%Y.%m.%d')                    regDt
		  FROM T_POPUP_MNG        
		 <where>
			 <include refid="Where" />                               
	    	 AND USE_YN = 'Y'
		 </where>                               
      ORDER BY POPUP_SERNO DESC
    	 LIMIT #{firstRecordIndex} , #{recordCountPerPage}
	</select>

	<!-- 팝업 상세 조회 -->
	<select id="selectContents" parameterType="popupVO" resultType="popupVO">
		/* PopupMngMapper.selectContents */
		SELECT A.POPUP_SERNO                                 popupSerno
			 , A.POPUP_TITL_NM                               popupTitlNm
			 , A.POPUP_PSTN_YN                               popupPstnYn
			 , A.POPUP_PSTN_PRD_YN                           popupPstnPrdYn
			 , DATE_FORMAT(A.POPUP_PSTN_STRT_DT,'%Y.%m.%d')  popupPstnStrtDt
			 , DATE_FORMAT(A.POPUP_PSTN_END_DT,'%Y.%m.%d')   popupPstnEndDt
			 , A.POPUP_WDTH_SIZE_VAL                         popupWdthSizeVal
			 , A.POPUP_HGHT_SIZE_VAL                         popupHghtSizeVal
			 , A.REP_IMG_ID                                  repImgId
			 , B.FILE_SEQO									 fileSeqo
			 , B.PHCL_FILE_NM							 	 phclFileNm
			 , A.POPUP_TGT_CD                                popupTgtCd
			 , FNC_CODE_NM(A.POPUP_TGT_CD)					 popupTgtNm
			 , A.POPUP_UPND_MARGN_VAL                        popupUpndMargnVal
			 , A.POPUP_LSD_MARGN_VAL                         popupLsdMargnVal
			 , A.POPUP_CTT                                   popupCtt
			 , A.POPUP_CL_CD	                             popupClCd
			 , FNC_CODE_NM(A.POPUP_CL_CD)					 popupClNm
			 , A.REGR_SERNO                                  regrSerno
			 , FNC_USER_NM(A.REGR_SERNO)					 regrNm
			 , DATE_FORMAT(A.REG_DT,'%Y.%m.%d')              regDt
		  FROM T_POPUP_MNG A
	 LEFT JOIN T_ATCH_FILE_MNG B
	 		ON A.REP_IMG_ID = B.ATCH_FILE_ID
	 	   AND B.DEL_YN = 'N'
		 WHERE A.POPUP_SERNO = #{popupSerno}     
		   AND A.USE_YN = 'Y'  
	</select>
	
	<!-- 팝업 본인글 여부 -->
	<select id="regrCheck" parameterType="popupVO" resultType="boolean">
		/* PopupMngMapper.regrCheck */
		SELECT CASE WHEN REGR_SERNO = #{loginSerno} THEN 1
					ELSE 0
			   END
		  FROM T_POPUP_MNG 
		 WHERE POPUP_SERNO = #{popupSerno}  
	</select>
	
	<!-- 팝업 등록 -->
	<insert id="insertContents" parameterType="popupVO">
		/* PopupMngMapper.insertContents */
		INSERT INTO T_POPUP_MNG
			 ( POPUP_TITL_NM
			 , POPUP_PSTN_YN
			 , POPUP_PSTN_PRD_YN
			 , POPUP_PSTN_STRT_DT
			 , POPUP_PSTN_END_DT
			 , POPUP_WDTH_SIZE_VAL
			 , POPUP_HGHT_SIZE_VAL
			 , REP_IMG_ID
			 , POPUP_TGT_CD
			 , POPUP_UPND_MARGN_VAL
			 , POPUP_LSD_MARGN_VAL
			 , POPUP_CTT
			 , POPUP_CL_CD
			 , REGR_SERNO
			 , REG_DT
	    	 )
	    VALUES 
	    	 ( #{popupTitlNm}
			 , #{popupPstnYn}
			 , #{popupPstnPrdYn}
			 , NULLIF(#{popupPstnStrtDt}, '')
			 , NULLIF(#{popupPstnEndDt}, '')
			 , NULLIF(#{popupWdthSizeVal}, '')
			 , NULLIF(#{popupHghtSizeVal}, '')
			 , NULLIF(#{repImgId}, '')
			 , #{popupTgtCd}
			 , #{popupUpndMargnVal}
			 , #{popupLsdMargnVal}
			 , #{popupCtt}
			 , #{popupClCd}
			 , #{loginSerno}
			 , NOW()
			 )
	</insert>
	
	<!-- 팝업 수정 -->
	<update id="updateContents" parameterType="popupVO">
		/* PopupMngMapper.updateContents */
		UPDATE T_POPUP_MNG
		   SET POPUP_TITL_NM        = #{popupTitlNm}       
		   	 , POPUP_PSTN_YN        = #{popupPstnYn}       
		   	 , POPUP_PSTN_PRD_YN    = #{popupPstnPrdYn}    
		   	 , POPUP_PSTN_STRT_DT   = NULLIF(#{popupPstnStrtDt}, '')  
		   	 , POPUP_PSTN_END_DT    = NULLIF(#{popupPstnEndDt}, '')         
		   	 , POPUP_WDTH_SIZE_VAL  = NULLIF(#{popupWdthSizeVal}, '')     
		   	 , POPUP_HGHT_SIZE_VAL  = NULLIF(#{popupHghtSizeVal}, '')      
		   	 , REP_IMG_ID           = NULLIF(#{repImgId}, '')          
		   	 , POPUP_TGT_CD         = #{popupTgtCd}        
		   	 , POPUP_UPND_MARGN_VAL = #{popupUpndMargnVal} 
		   	 , POPUP_LSD_MARGN_VAL  = #{popupLsdMargnVal}  
		   	 , POPUP_CTT            = #{popupCtt}          
		   	 , POPUP_CL_CD          = #{popupClCd}         
		   	 , UPDR_SERNO           = #{loginSerno}        
		   	 , UPD_DT               = NOW()                
		 WHERE POPUP_SERNO			= #{popupSerno}
	</update>
	
	<!-- 팝업 삭제 -->
	<update id="deleteContents" parameterType="popupVO">
		/* PopupMngMapper.deleteContents */
		UPDATE T_POPUP_MNG
		   SET USE_YN 	   = 'N'
		 WHERE POPUP_SERNO = #{popupSerno}
	</update>

	<!-- 메인 팝업 목록 조회 -->
	<select id="selectMainList" parameterType="popupVO" resultType="popupVO">
		/* PopupMngMapper.selectMainList */
		SELECT A.POPUP_SERNO                                       popupSerno
			 , A.POPUP_TITL_NM                                     popupTitlNm
			 , A.POPUP_PSTN_YN                                     popupPstnYn
			 , A.POPUP_PSTN_PRD_YN                                 popupPstnPrdYn
			 , DATE_FORMAT(A.POPUP_PSTN_STRT_DT,'%Y.%m.%d')        popupPstnStrtDt
			 , DATE_FORMAT(A.POPUP_PSTN_END_DT,'%Y.%m.%d')         popupPstnEndDt
			 , A.POPUP_WDTH_SIZE_VAL                               popupWdthSizeVal
			 , A.POPUP_HGHT_SIZE_VAL                               popupHghtSizeVal
			 , A.REP_IMG_ID                                        repImgId
			 , B.FILE_SEQO									 	   fileSeqo
			 , B.PHCL_FILE_NM							 	   	   phclFileNm
			 , A.POPUP_TGT_CD                                      popupTgtCd
			 , A.POPUP_UPND_MARGN_VAL                              popupUpndMargnVal
			 , A.POPUP_LSD_MARGN_VAL                               popupLsdMargnVal
			 , A.POPUP_CTT                                         popupCtt
			 , A.POPUP_CL_CD	                                   popupClCd
			 , FNC_CODE_NM(A.POPUP_CL_CD)						   popupClNm
		  FROM T_POPUP_MNG A   
	 LEFT JOIN T_ATCH_FILE_MNG B
	 		ON A.REP_IMG_ID = B.ATCH_FILE_ID
	 	   AND B.DEL_YN = 'N'
		 WHERE A.POPUP_CL_CD = #{popupClCd}
		   AND A.POPUP_PSTN_YN = 'Y'  
		   AND (
				(A.POPUP_PSTN_STRT_DT <![CDATA[ <= ]]> NOW() AND A.POPUP_PSTN_END_DT <![CDATA[ >= ]]> NOW())
				 OR	A.POPUP_PSTN_PRD_YN = 'N'
			   )   
  	       AND A.USE_YN = 'Y'
      ORDER BY A.POPUP_SERNO DESC
	</select>
</mapper>