<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opennote.standard.mapper.basic.RegepsMngMapper">

	<!-- 검색 조건 -->
	<sql id="Where">
		<if test='searchKeyword != null and searchKeyword != ""'>
			<if test='searchCondition == null or searchCondition == ""'>
				AND (UPPER(REGEPS_ID) LIKE CONCAT('%',UPPER(#{searchKeyword}),'%')
				 OR UPPER(REGEPS_NM) LIKE CONCAT('%',UPPER(#{searchKeyword}),'%'))
			</if>
			<if test='searchCondition != null and searchCondition != "" and searchCondition == 1'>
				AND UPPER(REGEPS_ID) LIKE CONCAT('%',UPPER(#{searchKeyword}),'%')
			</if>
			<if test='searchCondition != null and searchCondition != "" and searchCondition == 2'>
				AND UPPER(REGEPS_NM) LIKE CONCAT('%',UPPER(#{searchKeyword}),'%')
			</if>
		</if>
	</sql>

	<!-- 정규표현식 건수 조회 -->
	<select id="selectCount" parameterType="regepsVO" resultType="regepsVO">
		/* com.opennote.standard.mapper.basic.RegepsMngMapper.selectCount */
		SELECT COUNT(1) regepsCount
		  FROM T_REGEPS_MNG
		<where>
			<include refid="Where"/>
			AND USE_YN = 'Y'
	    </where>
	</select>

	<!-- 정규표현식 목록 조회 -->
	<select id="selectList" parameterType="regepsVO" resultType="regepsVO">
		/* com.opennote.standard.mapper.basic.RegepsMngMapper.selectList */
		SELECT REGEPS_SERNO						regepsSerno
			 , REGEPS_ID						regepsId
			 , REGEPS_NM						regepsNm
			 , REGEPS_TXT						regepsTxt
			 , PLACEHOLDER_TXT					placeholderTxt
			 , ERR_MSG						 	errMsg
			 , REGR_SERNO						regrSerno
			 , FNC_USER_NM(REGR_SERNO)			regrNm
			 , DATE_FORMAT(REG_DT, '%Y.%m.%d') 	regDt
		  FROM T_REGEPS_MNG
		<where>
			<include refid="Where"/>
			AND USE_YN = 'Y'
	    </where>
	  ORDER BY REGEPS_SERNO DESC
		 LIMIT #{firstRecordIndex} , #{recordCountPerPage}
	</select>
	
	<!-- 정규표현식 전체 목록 조회 -->
	<select id="selectAllList" parameterType="regepsVO" resultType="regepsVO">
		/* com.opennote.standard.mapper.basic.RegepsMngMapper.selectAllList */
		SELECT REGEPS_SERNO						regepsSerno
			 , REGEPS_ID						regepsId
			 , REGEPS_NM						regepsNm
			 , REGEPS_TXT						regepsTxt
			 , PLACEHOLDER_TXT					placeholderTxt
			 , ERR_MSG						 	errMsg
			 , REGEPS_EXM						regepsExm
			 , REGR_SERNO						regrSerno
			 , FNC_USER_NM(REGR_SERNO)			regrNm
			 , DATE_FORMAT(REG_DT, '%Y.%m.%d') 	regDt
		  FROM T_REGEPS_MNG
		 WHERE USE_YN = 'Y'
	  ORDER BY REGEPS_SERNO DESC
	</select>

	<!-- 정규표현식 상세 조회 -->
	<select id="selectContents" parameterType="regepsVO" resultType="regepsVO">
		/* com.opennote.standard.mapper.basic.RegepsMngMapper.selectContents */
		SELECT REGEPS_SERNO						regepsSerno
			 , REGEPS_ID						regepsId
			 , REGEPS_NM						regepsNm
			 , REGEPS_TXT						regepsTxt
			 , PLACEHOLDER_TXT					placeholderTxt
			 , ERR_MSG						 	errMsg
			 , REGEPS_EXM						regepsExm
			 , REGR_SERNO						regrSerno
			 , FNC_USER_NM(REGR_SERNO)			regrNm
			 , DATE_FORMAT(REG_DT, '%Y.%m.%d') 	regDt
		  FROM T_REGEPS_MNG 
		 WHERE REGEPS_SERNO = #{regepsSerno}
		   AND USE_YN = 'Y'
	</select>
	
	<!-- 정규표현식 상세 id값으로 조회 -->
	<select id="selectIdContents" parameterType="regepsVO" resultType="regepsVO">
		/* com.opennote.standard.mapper.basic.RegepsMngMapper.selectIdContents */
		SELECT REGEPS_SERNO						regepsSerno
			 , REGEPS_ID						regepsId
			 , REGEPS_NM						regepsNm
			 , REGEPS_TXT						regepsTxt
			 , PLACEHOLDER_TXT					placeholderTxt
			 , ERR_MSG						 	errMsg
			 , REGR_SERNO						regrSerno
			 , DATE_FORMAT(REG_DT, '%Y.%m.%d') 	regDt
		  FROM T_REGEPS_MNG 
		 WHERE REGEPS_ID = #{regepsId}
		   AND USE_YN = 'Y'
	</select>

	<!-- 정규표현식 등록 -->
	<insert id="insertContents" parameterType="regepsVO">
		/* com.opennote.standard.mapper.basic.RegepsMngMapper.insertContents */
		INSERT INTO T_REGEPS_MNG
			 ( REGEPS_ID
			 , REGEPS_NM
			 , REGEPS_TXT
			 , PLACEHOLDER_TXT
			 , ERR_MSG
			 , REGEPS_EXM
			 , REGR_SERNO
			 , REG_DT
	    	 )
	    VALUES 
	    	 ( #{regepsId}
			 , #{regepsNm}
			 , #{regepsTxt}
			 , #{placeholderTxt}
			 , #{errMsg}
			 , #{regepsExm}
			 , #{loginSerno}
			 , NOW()
			 )
	</insert>

	<!-- 정규표현식 수정 -->
	<update id="updateContents" parameterType="regepsVO">
		/* com.opennote.standard.mapper.basic.RegepsMngMapper.updateContents */
		UPDATE T_REGEPS_MNG
		   SET REGEPS_NM 		= #{regepsNm}
		   	 , REGEPS_TXT 		= #{regepsTxt}
		   	 , PLACEHOLDER_TXT 	= #{placeholderTxt}
		   	 , ERR_MSG 			= #{errMsg}
		   	 , REGEPS_EXM 		= #{regepsExm}
		   	 , UPDR_SERNO 		= #{loginSerno}
		   	 , UPD_DT 			= NOW()
		 WHERE REGEPS_SERNO		= #{regepsSerno}
	</update>

	<!-- 정규표현식 삭제 -->
	<update id="deleteContents" parameterType="regepsVO">
		/* com.opennote.standard.mapper.basic.RegepsMngMapper.deleteContents */
		UPDATE T_REGEPS_MNG
		   SET USE_YN 		= 'N'
		 WHERE REGEPS_SERNO = #{regepsSerno}
	</update>
	
	<!-- 정규표현식ID 중복체크 -->
	<select id="regepsIdCheck" parameterType="regepsVO" resultType="regepsVO">
		/* com.opennote.standard.mapper.basic.RegepsMngMapper.regepsIdCheck */
		SELECT CASE WHEN COUNT(REGEPS_ID) > 0 THEN 0
					ELSE 1
			   END AS regepsIdCheck
		  FROM T_REGEPS_MNG 
		 WHERE REGEPS_ID = #{regepsId}
	</select>

	<!-- 정규표현식 본인글 여부 -->
	<select id="regrCheck" parameterType="regepsVO" resultType="regepsVO">
		/* com.opennote.standard.mapper.basic.RegepsMngMapper.regrCheck */
		SELECT CASE WHEN REGR_SERNO = #{loginSerno} THEN 1
					ELSE 0
			   END regrCheck
		  FROM T_REGEPS_MNG 
		 WHERE REGEPS_SERNO = #{regepsSerno}
	</select>
	
	<!-- 정규표현식 엑셀 목록 조회 -->
	<select id="selectExcelList" parameterType="regepsVO" resultType="regepsVO">
		/* com.opennote.standard.mapper.basic.RegepsMngMapper.selectExcelList */
		SELECT REGEPS_SERNO						regepsSerno
			 , REGEPS_ID						regepsId
			 , REGEPS_NM						regepsNm
			 , REGEPS_TXT						regepsTxt
			 , PLACEHOLDER_TXT					placeholderTxt
			 , ERR_MSG						 	errMsg
			 , REGEPS_EXM						regepsExm
			 , REGR_SERNO						regrSerno
			 , FNC_USER_NM(REGR_SERNO)			regrNm
			 , DATE_FORMAT(REG_DT, '%Y.%m.%d') 	regDt
		  FROM T_REGEPS_MNG
		 <where>
			<include refid="Where"/>
			AND USE_YN = 'Y'
	     </where>
	  ORDER BY REGEPS_SERNO DESC
	</select>
</mapper>