<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="on.standard.system.auth">

    <sql id="pageHeader">
		  <![CDATA[
        SELECT (${rn_top} / (${rn_top} - ${rn_bottom})) AS pageNo
             , (${rn_top} - ${rn_bottom})               AS pageSize
             , totalCount - (rowindx - 1)               AS rrowindx
             , ROW_.*
        FROM (
        ]]>
	</sql>

    <sql id="pageFooter">
		  <![CDATA[
        ) AS ROW_
			    ORDER BY ROW_.rowindx  DESC
			   LIMIT ${rn_limit} OFFSET ${rn_bottom}
        ]]>
	</sql>

    <select id="inqAuthList" parameterType="CommonMap" resultType="CommonMap">
        <choose>
            <when test="cmd == 'selectPage'">
                /* on.standard.system.auth.inqAuthList selectPage */
                <include refid="pageHeader"/>
                <include refid="systemAuthListSql"/>
                <include refid="pageFooter"/>
            </when>
            <otherwise>
                /* on.standard.system.auth.inqAuthList  selectList */
                <include refid="systemAuthListSql"/>
            </otherwise>
        </choose>
    </select>

    <sql id="systemAuthListSql">
        SELECT a.rownum_       rowindx
             , b.TOTAL_COUNT    totalCount
             , a.AUTH_ID        authId
             , a.AUTH_KOR_NAME  authKorName
             , a.AUTH_ENG_NAME  authEngName
             , a.AUTH_COMMENT   authComment
             , a.USE_YN         useYn
             , a.REG_YMD        regYmd
        FROM (
                 SELECT (@rownum := @rownum + 1) AS rownum_
                      , AUTH_ID
                      , AUTH_KOR_NAME
                      , AUTH_ENG_NAME
                      , AUTH_COMMENT
                      , USE_YN
                      , DATE_FORMAT(REG_DATE, '%Y.%m.%d') AS REG_YMD
                 FROM STB_B_AUTH_MNG JOIN (SELECT @rownum := 0) r
                 WHERE 1 = 1
                <if test="searchKeyword != null and searchKeyword != ''">
                   <choose>
                      <when test="searchKeyCd == 'authId'">
                          AND AUTH_ID LIKE CONCAT('%',#{searchKeyword},'%')
                      </when>
                      <when test="searchKeyCd == 'authNm'">
                          AND (   AUTH_KOR_NAME LIKE CONCAT('%',#{searchKeyword},'%')
                              OR  AUTH_ENG_NAME LIKE CONCAT('%',#{searchKeyword},'%')
                          )
                      </when>
                       <when test="searchKeyCd == 'authDesc'">
                           AND AUTH_COMMENT LIKE CONCAT('%',#{searchKeyword},'%')
                       </when>
                       <otherwise>
                          AND (    AUTH_ID LIKE CONCAT('%',#{searchKeyword},'%')
                               OR (     AUTH_KOR_NAME LIKE CONCAT('%',#{searchKeyword},'%')
                                    OR  AUTH_ENG_NAME LIKE CONCAT('%',#{searchKeyword},'%')
                               )
                               OR AUTH_COMMENT LIKE CONCAT('%',#{searchKeyword},'%')
                           )
                       </otherwise>
                   </choose>
                 </if>
                 ORDER BY AUTH_ID ASC
             ) a
             JOIN (
                SELECT COUNT(*) AS TOTAL_COUNT
                FROM STB_B_AUTH_MNG
                WHERE 1 = 1
                <if test="searchKeyword != null and searchKeyword != ''">
                    <choose>
                        <when test="searchKeyCd == 'authId'">
                            AND AUTH_ID LIKE CONCAT('%',#{searchKeyword},'%')
                        </when>
                        <when test="searchKeyCd == 'authNm'">
                            AND (   AUTH_KOR_NAME LIKE CONCAT('%',#{searchKeyword},'%')
                                OR  AUTH_ENG_NAME LIKE CONCAT('%',#{searchKeyword},'%')
                            )
                        </when>
                        <when test="searchKeyCd == 'authDesc'">
                            AND AUTH_COMMENT LIKE CONCAT('%',#{searchKeyword},'%')
                        </when>
                        <otherwise>
                            AND (    AUTH_ID LIKE CONCAT('%',#{searchKeyword},'%')
                                 OR (   AUTH_KOR_NAME LIKE CONCAT('%',#{searchKeyword},'%')
                                     OR AUTH_ENG_NAME LIKE CONCAT('%',#{searchKeyword},'%')
                                 )
                                OR AUTH_COMMENT LIKE CONCAT('%',#{searchKeyword},'%')
                            )
                        </otherwise>
                    </choose>
                </if>
              ) b
              ON 1 = 1
    </sql>


    <select id="selAuthView" parameterType="CommonMap" resultType="CommonMap">
        /* on.standard.system.auth.selAuthView */
        SELECT AUTH_ID         authId
             , AUTH_KOR_NAME   authKorName
             , AUTH_ENG_NAME   authEngName
             , AUTH_COMMENT    authComment
             , USE_YN          useYn
             , IS_DEL_ABLE     isDelAble
             , FN_S_USER_INFO(REG_USER,'USER_KOR_NM') regUserNm
             , DATE_FORMAT(REG_DATE, '%Y.%m.%d') regYmd
             , TEMPCOL_1 tempCol1, TEMPCOL_2 tempCol2, TEMPCOL_3 tempCol3, TEMPCOL_4 tempCol4, TEMPCOL_5 tempCol5
             , TEMPCOL_6 tempCol6, TEMPCOL_7 tempCol7, TEMPCOL_8 tempCol8, TEMPCOL_9 tempCol9, TEMPCOL_10 tempCol10
          FROM STB_B_AUTH_MNG
         WHERE AUTH_ID = #{authId}
    </select>

    <update id="updAuthInfo" parameterType="CommonMap">
         UPDATE STB_B_AUTH_MNG
            SET AUTH_ID = #{authId}
            <if test="authKorName != null and authKorName != ''">
              , AUTH_KOR_NAME  = #{authKorName}
            </if>
            <if test="authEngName != null and authEngName != ''">
                , AUTH_ENG_NAME  = #{authEngName}
            </if>
            <if test="authComment != null and authComment != ''">
                , AUTH_COMMENT  = #{authComment}
            </if>
            <if test="useYn != null and useYn != ''">
                , USE_YN  = #{useYn}
            </if>
            <if test="tempCol1 != null and tempCol1 != ''">
                , TEMPCOL_1  = #{tempCol1}
            </if>
            <if test="tempCol2 != null and tempCol2 != ''">
                , TEMPCOL_2  = #{tempCol2}
            </if>
            <if test="tempCol3 != null and tempCol3 != ''">
                , TEMPCOL_3  = #{tempCol3}
            </if>
            <if test="tempCol4 != null and tempCol4 != ''">
                , TEMPCOL_4  = #{tempCol4}
            </if>
            <if test="tempCol5 != null and tempCol5 != ''">
                , TEMPCOL_5  = #{tempCol5}
            </if>
            <if test="tempCol6 != null and tempCol6 != ''">
                , TEMPCOL_6  = #{tempCol6}
            </if>
            <if test="tempCol7 != null and tempCol7 != ''">
                , TEMPCOL_7  = #{tempCol7}
            </if>
            <if test="tempCol8 != null and tempCol8 != ''">
                , TEMPCOL_8  = #{tempCol8}
            </if>
            <if test="tempCol9 != null and tempCol9 != ''">
                , TEMPCOL_9  = #{tempCol9}
            </if>
            <if test="tempCol10 != null and tempCol10 != ''">
                , TEMPCOL_10  = #{tempCol10}
            </if>
           WHERE AUTH_ID = #{authId}
    </update>

    <select id="selectAuthList" parameterType="CommonMap" resultType="CommonMap">
        /* on.standard.system.auth.selectAuthList */
        SELECT AUTH_ID        authId
             , AUTH_KOR_NAME  authKorName
          FROM STB_B_AUTH_MNG
         WHERE USE_YN = 'Y'
         ORDER BY AUTH_ID
    </select>


</mapper>