@charset "utf-8";
@import 'root.css';

@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 100;
	src: url('../font/NotoSansKR-Thin.woff2') format('woff2'),
	url('../font/NotoSansKR-Thin.woff') format('woff'),
	url('../font/NotoSansKR-Thin.otf') format('opentype');
}
@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 300;
	url('../font/NotoSansKR-Light.woff') format('woff'),
}
@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 400;
	url('../font/NotoSansKR-Regular.woff') format('woff'),
}
@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 600;
	url('../font/NotoSansKR-Medium.woff') format('woff'),
}
@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 700;
	url('../font/NotoSansKR-Bold.woff') format('woff'),
}

html {width: 100%;height:100%;margin:0;padding:0;}
body {position:relative;width: 100%;height:100%;margin:0;padding:0;line-height:1.4;font-family:'NotoSansKR', 'malgun gothic', 'dotum';color:#333333;word-spacing:-1px;font-size:16px;font-weight: 400;}

* {box-sizing: border-box; }
*:after,
*:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/* inline */
img {display:inline-block;vertical-align: middle;border:none;font-size:1%;line-height:1;}
cite, code, dfn, del, em, ins, label, q {display:inline-block;}
span, strong {display:inline-block;vertical-align: middle;}
cite, em, dfn {font-style:normal;}
sub {vertical-align:bottom;font-family:'dotum';}
sup {vertical-align:top;font-family:'dotum';}
hr {display:none;}

/* block */
h1, h2, h3, h4, h5, h6 {margin:0;font-size:1em;}
address {font-style:normal;}
p {margin:0;}
pre {margin:0;font-family:verdana;font-size:1em;}

/* table */
table {width:100%;border-spacing:0;border:0;border-collapse:separate;font-family:inherit; }
caption {display:none;}
th, td {padding:0;text-align:left;vertical-align:middle;font-size:inherit;font-weight:normal;}

/* list */
dd, dl, ol, ul {margin:0;padding:0;}
li {list-style-type:none;}

/* form */
form {margin:0;}
fieldset {margin:0;padding:0;border:none;}
legend {display:none;}
textarea {border:1px solid #dddddd;font-family: inherit;font-size:inherit;}
input[type="text"],
input[type="password"],
input.text {height:30px;padding:0 0 0 5px;vertical-align:middle;border:1px solid #d5d4d4;font-family: inherit;font-size:inherit;}
input[type="checkbox"],
input[type="radio"]{width:13px;height:13px;margin:-1px 2px 0 0;padding:0 0 0 5px;vertical-align:middle;}
select {height:30px;margin:0;padding: 0 20px 0 .5em; vertical-align:middle;border:1px solid #d5d4d4;background:#fff url(../images/sub/bg_select.png) no-repeat 95% 50% !important;font-family: inherit;font-size:inherit;-webkit-appearance: none;-moz-appearance: none; appearance: none; }
select::-ms-expand {display: none;}
button {display:inline-block;margin:0;padding:0;cursor:pointer; text-align: center;vertical-align: middle;white-space:nowrap;font-family:inherit;}
a {text-decoration:none;color:inherit; vertical-align: middle;}

/* basic */
.hidden {position:absolute;top:-9000px;left:-9000px;visibility:hidden;}
.display_none {display:none;}
.cursor {cursor: pointer;}

.no_bdl {border-left:0 !important;}
.no_bdr {border-right:0 !important;}
.no_bdt {border-top:0 !important;}

/* align */
.l {text-align:left !important;}
.c {text-align:center !important;}
.r {text-align:right !important;}
.t {vertical-align:top !important;}
.m {vertical-align:middle !important;}
.b {vertical-align:bottom !important;}
.fl {float:left !important;}
.fr {float:right !important;}

/* clear */
.clear::after{display:table;clear:both;content:"";}

.mar_t5 {margin-top: 5px !important;}
.mar_t10 {margin-top: 10px !important;}
.mar_b10 {margin-bottom: 10px !important;}
.mar_l10 {margin-left: 5px !important;}

.w5p {width: 5% !important;}
.w10p {width: 10% !important;}
.w12p {width: 12% !important;}
.w15p {width: 15% !important;}
.w20p {width: 20% !important;}
.w25p {width: 25% !important;}
.w30p {width: 30% !important;}
.w35p {width: 35% !important;}
.w38p {width: 38% !important;}
.w40p {width: 40% !important;}
.w45p {width: 45% !important;}
.w50p {width: 50% !important;}
.w55p {width: 55% !important;}
.w60p {width: 60% !important;}
.w64p {width: 64% !important;}
.w65p {width: 65% !important;}
.w70p {width: 70% !important;}
.w75p {width: 75% !important;}
.w80p {width: 80% !important;}
.w85p {width: 85% !important;}
.w90p {width: 90% !important;}
.w95p {width: 95% !important;}
.w100p {width: 100% !important;}

.w60 {width: 60px !important;}
.w80 {width: 80px !important;}
.w100 {width: 100px !important;}
.w120 {width: 120px !important;}
.w200 {width: 200px !important;}

/* 2023.07.18 css 추가 */
.bdl {border-left: 1 !important;}
.mar_l0 {margin-left: 0 !important;}
.pad_l0 {padding-left: 0 !important;}
.pad_r0 {padding-right: 0 !important;}

/* 2023.07.27 css 추가 */
.mar_t30 {margin-top: 30px !important;}

/* 2023.08.01 css 추가*/
.mar_r20 {margin-right: 20px !important;}
.mar_r30 {margin-right: 30px !important;}
.mar_l20 {margin-left: 20px !important;}
.mar_l30 {margin-left: 30px !important;}
.mar_t0 {margin-top: 0px !important;}
.mar_b0 {margin-bottom: 0px !important;}