@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 300;
	font-display: swap;
	src: local('Noto Sans KR Light'), url('./woff2/noto-sans-kr-v12-korean-300.woff2') format('woff2'), url('./woff/noto-sans-kr-v12-korean-300.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 400;
	font-display: swap;
	src: local('Noto Sans KR Regular'), url('./woff2/noto-sans-kr-v12-korean-300.woff2') format('woff2'), url('./woff/noto-sans-kr-v12-korean-300.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 500;
	font-display: swap;
	src: local('Noto Sans KR Medium'), url('./woff2/noto-sans-kr-v12-korean-300.woff2') format('woff2'), url('./woff/noto-sans-kr-v12-korean-300.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 700;
	font-display: swap;
	src: local('Noto Sans KR Bold'), url('./woff2/noto-sans-kr-v12-korean-300.woff2') format('woff2'), url('./woff/noto-sans-kr-v12-korean-300.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 900;
	font-display: swap;
	src: local('Noto Sans KR Black'), url('./woff2/noto-sans-kr-v12-korean-300.woff2') format('woff2'), url('./woff/noto-sans-kr-v12-korean-300.woff') format('woff');
}