<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.kps.partners.mapper.CdMngMapper">

	<select id="selectList" parameterType="codeVO" resultType="codeVO">
		/* kr.or.kps.partners.mapper.CdMngMapper.selectList */
		SELECT A.CD_SERNO 																		cdSerno
		     , A.CD_UPPO_VAL 																	cdUppoVal
		     , A.CD_VAL 																		cdVal
			 , A.CD_NM 																			cdNm
			 , A.CD_LVL_VAL 																	cdLvlVal
			 , A.CD_SORT_SEQO 																	cdSortSeqo
			 , A.CD_DTLS_EXPL 																	cdDtlsExpl
			 , (SELECT COUNT(1) FROM T_CD_MNG WHERE CD_UPPO_VAL = A.CD_VAL AND USE_YN = 'Y') 	chldCnt
		  FROM T_CD_MNG A
		 WHERE A.USE_YN	   = 'Y'
		   AND A.CD_UPPO_VAL = #{cdUppoVal}
      ORDER BY A.CD_SORT_SEQO
      	<if test="sort == 'ASC'">
		 	   ASC
		</if>
		<if test="sort == 'DESC'">
		 	   DESC
		</if>
	</select>

	<!-- 코드 등록 있는 경우 업데이트 -->
	<insert id="insertContents" parameterType="codeVO">
		/*CdMngMapper.insertContents  */
	   INSERT INTO T_CD_MNG
	        ( CD_UPPO_VAL
			, CD_VAL
			, CD_NM
			, CD_LVL_VAL
			, REGR_SERNO
			, CD_SORT_SEQO
			, CD_DTLS_EXPL
			) 
	   VALUES 
	        ( CASE WHEN TRIM(#{cdUppoVal}) = '' THEN '0' ELSE #{cdUppoVal} END
		    , #{cdVal}
		    , #{cdNm}
		    , #{cdLvlVal}
		    , '1'
		    , (SELECT NVL(MAX(A.CD_SORT_SEQO)+1, 1) FROM T_CD_MNG A WHERE A.CD_LVL_VAL = #{cdLvlVal})
		    , #{cdDtlsExpl}
		    )
	       ON DUPLICATE KEY UPDATE
	          CD_UPPO_VAL  = CASE WHEN TRIM(#{cdUppoVal}) = '' THEN '0' ELSE #{cdUppoVal} END
		    , CD_NM 		  = #{cdNm}
		    , CD_DTLS_EXPL = #{cdDtlsExpl}
		    , USE_YN 	  = 'Y'
	</insert>

	<update id="updateContents" parameterType="codeVO">
		/* CdMngMapper.updateContents */
		UPDATE T_CD_MNG
		  SET CD_NM 		= #{cdNm}
		    , CD_DTLS_EXPL 	= #{cdDtlsExpl}
		WHERE CD_VAL 		= #{cdVal}
		  AND CD_UPPO_VAL 	= #{cdUppoVal}
	</update>

	<delete id="deleteContents" parameterType="codeVO">
		/* CdMngMapper.deleteContents */
		UPDATE T_CD_MNG
		   SET USE_YN 	   = 'N'
		 WHERE 1=1
		   AND CD_VAL 	   = #{cdVal}
		   AND CD_UPPO_VAL = #{cdUppoVal}
		    OR CD_UPPO_VAL = #{cdVal}
	</delete>

	<!-- 코드 중복 체크 -->
	<select id="selectOvlpCount" parameterType="codeVO" resultType="codeVO">
		/* CdMngMapper.selectOvlpCount */
		SELECT COUNT(1) rowCnt
		  FROM T_CD_MNG
		 WHERE CD_VAL = #{cdVal}
	</select>

	<!-- 코드 정렬 대상 -->
	<update id="codeSortSource" parameterType="codeVO" >
		/* OsrMapper.codeSortSource */
		UPDATE T_CD_MNG
		   SET CD_SORT_SEQO = IFNULL( (SELECT CD_SORT_SEQO FROM T_CD_MNG WHERE CD_SERNO = #{cdNextSerno})
		       						, (SELECT COUNT(1)+1 FROM T_CD_MNG WHERE CD_LVL_VAL = #{cdLvlVal}))
		 WHERE CD_SERNO 	= #{cdSerno}
		   AND CD_LVL_VAL   = #{cdLvlVal}
	</update>

	<!-- 코드 정렬 타겟 -->
	<update id="codeSortTarget" parameterType="codeVO" >
		/* OsrMapper.codeSortTarget */
		UPDATE T_CD_MNG
		   SET CD_SORT_SEQO = CD_SORT_SEQO + 1
		 WHERE CD_SORT_SEQO	>= (SELECT CD_SORT_SEQO FROM T_CD_MNG WHERE CD_SERNO = #{cdNextSerno})
		   AND CD_SERNO != #{cdSerno}
		   AND CD_LVL_VAL = #{cdLvlVal}
	</update>

	<!-- 코드 순서 재정렬 -->
	<update id="codeSortSeqo" parameterType="codeVO" >
		/* OsrMapper.codeSortSeqo */
		UPDATE T_CD_MNG A
		   SET A.CD_SORT_SEQO = (SELECT COUNT(1) + 1 FROM T_CD_MNG WHERE A.CD_SORT_SEQO > CD_SORT_SEQO AND CD_LVL_VAL = #{cdLvlVal})
		 WHERE A.CD_LVL_VAL = #{cdLvlVal}
	</update>	

</mapper>