<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="on.standard.system.menu">

    <select id="selectMenuByUrl" parameterType="CommonMap" resultType="CommonMap">
        /* on.standard.system.menu.selectMenuByUrl */
        SELECT SMMH.MENU_DIV_CD
             , SMMH.MENU_SERNO
             , SMMH.MENU_CD
             , SMMH.UPR_MENU_CD
             , SMMH.KOR_NM
             , SMMH.MENU_PARAM
             , SMMH.LAY_OUT
             , SMMH.RTN_URL
             , SMMH.URL_ADDR
             , SMMH.SORT_NO
             , SMMH.USE_YN
             , SMMH.LEVEL
             , SMMH.SORT_PATH
             , SMMH.MENU_PATH
             , SMMH.MENU_CD_PATH
        FROM SVI_MENU_MNG_HIERARCHY SMMH
        WHERE SMMH.URL_ADDR = #{pageUrl}
    </select>
    
    <select id="selectMenuPermissionCheck" parameterType="CommonMap" resultType="CommonMap">
        /* on.standard.system.menu.selectMenuPermissionCheck */
        SELECT MM.MENU_DIV_CD
             , MM.MENU_CD
             , MM.URL_ADDR
             , MM.MENU_PARAM
             , MM.KOR_NM
             , AUM.USER_ID
             , MM.MENU_PATH
             , MM.MENU_CD_PATH
             , MAX(MAM.READ_YN) READ_YN
             , MAX(MAM.WRITE_YN) WRITE_YN
             , MAX(MAM.UPDATE_YN) UPDATE_YN
             , MAX(MAM.DELETE_YN) DELETE_YN
             , MAX(MAM.POPUP_OPEN_YN) POPUP_OPEN_YN
             , MAX(MAM.POPUP_READ_YN) POPUP_READ_YN
             , MAX(MAM.POPUP_WRITE_YN) POPUP_WRITE_YN
             , MAX(MAM.POPUP_UPDATE_YN) POPUP_UPDATE_YN
             , MAX(MAM.POPUP_DELETE_YN) POPUP_DELETE_YN
          FROM SVI_MENU_MNG_HIERARCHY MM
         INNER JOIN STB_M_MENU_AUTH_MNG MAM on MM.MENU_CD = MAM.MENU_CD
         INNER JOIN STB_M_AUTH_USER_MNG AUM on MAM.AUTH_ID = AUM.AUTH_ID
         WHERE MM.URL_ADDR = #{urlAddr}
           AND AUM.USER_ID = #{loginUserId}
        GROUP BY MM.MENU_DIV_CD, MM.MENU_CD, MM.URL_ADDR, MM.MENU_PARAM, MM.KOR_NM, AUM.USER_ID, MM.MENU_PATH, MM.MENU_CD_PATH
    </select>

    <select id="selectLeftMenus"  parameterType="CommonMap" resultType="CommonMap">
        /* on.standard.system.menu.selectLeftMenus */
        SELECT DISTINCT
               SMMH.LEVEL
             , SMMH.MENU_CD
             , SMMH.UPR_MENU_CD
             , SMMH.KOR_NM
             , SMMH.PAGE_CL
             , SMMH.URL_ADDR
             , SMMH.MENU_PARAM
             , SMMH.MENU_CSS
             , SMMH.MENU_TARGET
             , SMMH.MENU_PATH
             , SMMH.IS_LEAF
             , CASE WHEN EXISTS (
                        SELECT 1
                        FROM SVI_MENU_MNG_HIERARCHY X
                        WHERE X.URL_ADDR = #{pageUrl}
                          AND X.MENU_PATH LIKE CONCAT(SMMH.MENU_PATH, '%')
                    )
                    THEN 'on'
                    ELSE ''
               END AS MENU_FOCUS
          FROM SVI_MENU_MNG_HIERARCHY SMMH
         INNER JOIN  STB_M_MENU_AUTH_MNG MMAM ON SMMH.MENU_CD = MMAM.MENU_CD
         WHERE MMAM.AUTH_ID  IN (
               SELECT AUTH_ID
                 FROM STB_M_AUTH_USER_MNG SMAUM
                WHERE USER_ID = #{loginUserId}
                  AND USE_YN = 'Y'
          )
          AND SMMH.USE_YN = 'Y'
          AND SMMH.MENU_DIV_CD = 'MA'
          AND SMMH.PAGE_CL IN ('MAIN')
        ORDER BY SMMH.LEVEL, SMMH.SORT_PATH
    </select>

    <select id="selectMenuList" parameterType="CommonMap" resultType="CommonMap">
        /* on.standard.system.menu.selectMenuList */
        SELECT MENU_DIV_CD  menuDivCd
             , MENU_SERNO   menuSerno
             , MENU_CD      menuCd
             , UPR_MENU_CD  uprMenuCd
             , KOR_NM       korNm
             , PAGE_CL      pageCl
             , MENU_PARAM   menuParam
             , MENU_CSS     menuCss
             , LAY_OUT      layOut
             , RTN_URL      rtnUrl
             , MENU_TARGET  menuTarget
             , URL_ADDR     urlAddr
             , SORT_NO      sortNo
             , USE_YN       useYn
             , LEVEL        level
             , SORT_PATH    sortPath
             , MENU_PATH    menuPath
             , MENU_CD_PATH menuCdPath
             , IS_LEAF      isLeaf
          FROM SVI_MENU_MNG_HIERARCHY
         WHERE MENU_DIV_CD = #{menuDivCd}
         ORDER BY SORT_PATH
    </select>

</mapper>